<!-- <app-loader></app-loader> -->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">{{ 'Dashboard' | translate }}</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0"></ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row ">
        <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
            <div class="row">
                <div  *ngFor="let stat of statData; track $index">
                    <app-stat [link]="stat.link" [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
                </div>
            </div>
            <div class="row">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">{{ 'YTD payment methods' | translate }}</h4>
                    <div>
                        <apx-chart class="apex-charts" dir="ltr" 
                        [series]="MostPaymentMethodChart.series" 
                        [chart]="MostPaymentMethodChart.chart" 
                        [colors]="MostPaymentMethodChart.colors" 
                        [plotOptions]="MostPaymentMethodChart.plotOptions" 
                        [legend]="MostPaymentMethodChart.legend" 
                        [responsive]="MostPaymentMethodChart.responsive" 
                        [labels]="MostPaymentMethodChart.labels">
                        </apx-chart>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-9 col-xl-9">
           
            <div class="card">
                <div class="chart-container" style="position: relative;">
                    <!-- Loading Spinner -->
                    <div *ngIf="isLoadingSales" class="loading-overlay">
                      <div class="spinner"></div>
                    </div>
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">{{ 'Offer Sales' | translate }}</h4>
                        <div class="ms-auto">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript: void(0);" [ngClass]="{'active': isActive === 'week'}" (click)="setOfferSalesDuration('week')">{{ 'Week' | translate }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript: void(0);" (click)="setOfferSalesDuration('month')" [ngClass]="{'active': isActive === 'month'}">{{ 'Month' | translate }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript: void(0);" (click)="setOfferSalesDuration('year')" [ngClass]="{'active': isActive === 'year'}">{{ 'Year' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <apx-chart  class="apex-charts" 
                    [chart]="offerSalesBarChart.chart" 
                    [series]="offerSalesBarChart.series" 
                    [legend]="offerSalesBarChart.legend" 
                    [colors]="offerSalesBarChart.colors" 
                    [fill]="offerSalesBarChart.fill" 
                    [dataLabels]="offerSalesBarChart.dataLabels" 
                    [xaxis]="offerSalesBarChart.xaxis" 
                    [plotOptions]="offerSalesBarChart.plotOptions">
                    </apx-chart>
                </div>
                </div>
            </div>
            <!-- <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">{{ 'Gift Card Sales' | translate }}</h4>
                        <div class="ms-auto">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript: void(0);" [ngClass]="{'active': isActive === 'week'}" (click)="weeklyreport()">{{ 'Week' | translate }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript: void(0);" (click)="monthlyreport()" [ngClass]="{'active': isActive === 'month'}">{{ 'Month' | translate }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript: void(0);" (click)="yearlyreport()" [ngClass]="{'active': isActive === 'year'}">{{ 'Year' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <apx-chart  class="apex-charts" [chart]="offerSalesBarChart.chart" [series]="offerSalesBarChart.series" [legend]="offerSalesBarChart.legend" [colors]="offerSalesBarChart.colors" [fill]="offerSalesBarChart.fill" [dataLabels]="offerSalesBarChart.dataLabels" [xaxis]="offerSalesBarChart.xaxis" [plotOptions]="offerSalesBarChart.plotOptions">
                    </apx-chart>
                </div>
            </div> -->
        </div>
    </div>
    <!-- end row -->

    

   
    <div *ngIf="currentRole === 'Admin' || companyId === 1" class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">{{'Latest Merchant Transactions' | translate}}</h4>
                    <app-transaction [transactions]="orderList$ |async"></app-transaction>
                    <!-- end table -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="chart-container" style="position: relative;">
                    <!-- Loading Spinner -->
                    <div *ngIf="isLoading" class="loading-overlay">
                      <div class="spinner"></div>
                    </div>
                <div class="card-body">
                <div class="d-sm-flex flex-wrap">
                    <h4 class="card-title mb-4">{{ 'Visitor Statistics' | translate }}</h4>
                    <div class="ms-auto">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript: void(0);" (click)="setVisitorOffersSatisticsDuration('week')" [ngClass]="{'active': VisitorStatisticsDuration === 'week'}" >{{ 'Week' | translate }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript: void(0);" (click)="setVisitorOffersSatisticsDuration('month')" [ngClass]="{'active': VisitorStatisticsDuration === 'month'}">{{ 'Month' | translate }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript: void(0);" (click)="setVisitorOffersSatisticsDuration('year')" [ngClass]="{'active': VisitorStatisticsDuration === 'year'}">{{ 'Year' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <apx-chart  class="apex-charts" dir="ltr"  [series]="LinewithDataChart.series" [chart]="LinewithDataChart.chart"
                    [colors]="LinewithDataChart.colors" [stroke]="LinewithDataChart.stroke"
                    [dataLabels]="LinewithDataChart.dataLabels" [title]="LinewithDataChart.title"
                    [responsive]="LinewithDataChart.responsive" [legend]="LinewithDataChart.legend"
                    [xaxis]="LinewithDataChart.xaxis" [yaxis]="LinewithDataChart.yaxis" [stroke]="LinewithDataChart.stroke"
                    [markers]="LinewithDataChart.markers">
                </apx-chart>
                </div>
                </div>
            </div>
    </div>
    </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">{{'Latest Customer Transactions' | translate}}</h4>
                        <app-transaction [transactions]="orderList$ |async"></app-transaction>
                        <!-- end table -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- end row -->
