.sort-arrow {
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .sort-arrow:hover {
    color: black; /* Ensure hover changes color to black */
  }
  textarea.form-control {
    min-height: 2em; /* Ensures at least 2 lines of text are visible */
    max-height: 10em; /* Optional: sets a maximum height for the textarea */
    overflow-y: auto; /* Show scrollbars when content overflows */
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .scrollable-vertical {
    max-width: 300px;
    max-height: 40px; 
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;

  }
  .scrollable-vertical {
    max-width: 300px;
    max-height: 50px; 
    overflow-y: auto; /* Scrollbar only when needed */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    white-space: normal; /* Allow text to wrap to the next line */
    word-wrap: break-word; /* Break words that are too long */
    
}
.scrollable-vertical::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge: Hides scrollbar */
}