<div class="container-fluid">
    <app-page-title title="{{'Company Profile Details' | translate}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- <div #formElement class="row">
        <div class="col-19">
            <div class="card">
                <div class="card-body ">
                  <form  [formGroup]="adminForm"  class="m-4">
                    <div *ngIf="formError" class="alert alert-danger">{{ formError | translate}}</div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group ">
                            <label for="name" >{{'Company Name'| translate }} <span   class="text-danger">*</span></label>
                            <input type="text" id="name" class="form-control" formControlName="name" placeholder="{{ 'Enter merchant name' | translate }}" required    >
                            <div *ngIf="adminForm.get('name').touched && adminForm.get('name').invalid" class="invalid-feedback d-block">
                            <span *ngIf="adminForm.get('name').errors?.['required']">{{'Company Name is required'| translate}}.</span>
                            </div>  
                        </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group ">
                            <label for="name_ar" >{{'Company Name in arabic' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                            <input type="text" id="name_ar" class="form-control" formControlName="name_ar" placeholder="{{ 'Enter merchant name in arabic' | translate }}" required [readonly]="type==='view'">
                            <div *ngIf="adminForm.get('name_ar').touched && adminForm.get('name_ar').invalid" class="invalid-feedback d-block">
                              <span *ngIf="adminForm.get('name_ar').errors?.['required']">{{'Arabic Company Name is required'| translate}}.</span>
                            </div>  
                          </div>
                        </div>
                      <div class="col-md-6 mb-3">
                          <div class="form-group">
                            <label for="phone">{{'Supervisor Phone' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label><br>
                            <app-phone-number
                            *ngIf="adminForm"
                            [initialPhoneNumber]="merchantForm.get('supervisorPhone').value"
                            [disabled]="type === 'view'"
                            [inputId]="'supervisorPhone'"
                            [placeholder]="'Enter supervisor phone' | translate"
                            (phoneNumberChanged)="onSupervisorPhoneChanged($event)" >
                           </app-phone-number> 
                           <div *ngIf="adminForm.get('supervisorPhone').touched && adminForm.get('supervisorPhone').invalid" class="invalid-feedback d-block">
                            <span *ngIf="merchantForm.get('supervisorPhone').errors?.['required']">{{'Supervisor Phone is required'| translate}}.</span>
                          </div>                      
                          </div>
                  </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                              <label for="image">{{ 'company Logo' | translate }}<span  class="text-danger">*</span></label>
                          
                              File input for selecting or uploading a new image -->
                              <!-- <app-image-upload [id]="'image'" [type]="'logo'" [label]="'Upload Company Logo' | translate" [existantImage]="existantImage" [filename]="fileName1" [alt]="'Company Logo'" [disabled]="type ==='view'" (logoUploaded)="onLogoUpload($event)"></app-image-upload>
                           
                              <div *ngIf="adminForm.get('image').touched && adminForm.get('image').invalid" class="invalid-feedback d-block">
                                <span *ngIf="adminForm.get('image').errors?.['required']">{{'Company Logo is required'| translate}}.</span>
                              </div>   
                            </div>
                          </div>
      
                          
                      </div>      
            <div class="col-12  mt-4">
                  <div class="d-flex justify-content-end">
                    
                      <button type="button" id="cancel-btn" class="btn btn-outline-secondary me-2" (click)="onCancel()">{{ 'Cancel' | translate }}</button>
                      <button type="submit" class="btn btn-success" (click)="onSubmit()">{{ 'update_company_profile' | translate }}</button>
                      <div id="elmLoader" class="loader" *ngIf="loading$ | async">
                        <div class="spinner-border text-primary avatar-sm" role="status">
                          <span class="visually-hidden">{{'Loading...' | translate}}</span>
                        </div>
                      </div>   
                    
                  </div>
             </div>
          </form>
        </div>
    </div> -->
    <!-- </div> end col -->
    <!-- </div> -->
    <!-- Start Form Wizard Basic row -->
  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Basic Wizard</h4>
          <div id="basic-example">
            <ng-stepper #cdkStepper [linear]="true" class="wizard">

              <cdk-step [optional]="false">
                <ng-template cdkStepLabel>
                  <span class="number">1.</span>
                  <span>{{'Company Details' | translate}}</span>
                </ng-template>
                @if(cdkStepper.selectedIndex === 0){
                <section>
                  <form  [formGroup]="adminForm" >
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group ">
                        <label for="name" >{{'Company Name'| translate }} <span   class="text-danger">*</span></label>
                        <input type="text" id="name" class="form-control" formControlName="name" placeholder="{{ 'Enter merchant name' | translate }}" required    >
                        <div *ngIf="adminForm.get('name').touched && adminForm.get('name').invalid" class="invalid-feedback d-block">
                        <span *ngIf="adminForm.get('name').errors?.['required']">{{'Company Name is required'| translate}}.</span>
                        </div>  
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group ">
                        <label for="name_ar" >{{'Company Name in arabic' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input type="text" id="name_ar" class="form-control" formControlName="name_ar" placeholder="{{ 'Enter merchant name in arabic' | translate }}" required [readonly]="type==='view'">
                        <div *ngIf="adminForm.get('name_ar').touched && adminForm.get('name_ar').invalid" class="invalid-feedback d-block">
                          <span *ngIf="adminForm.get('name_ar').errors?.['required']">{{'Arabic Company Name is required'| translate}}.</span>
                        </div>  
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="phone">{{'Supervisor Phone' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label><br>
                        <app-phone-number
                        *ngIf="adminForm"
                        [initialPhoneNumber]="adminForm.get('supervisorPhone').value"
                        [disabled]="type === 'view'"
                        [inputId]="'supervisorPhone'"
                        [placeholder]="'Enter supervisor phone' | translate"
                        (phoneNumberChanged)="onSupervisorPhoneChanged($event)" >
                       </app-phone-number> 
                       <div *ngIf="adminForm.get('supervisorPhone').touched && adminForm.get('supervisorPhone').invalid" class="invalid-feedback d-block">
                        <span *ngIf="adminForm.get('supervisorPhone').errors?.['required']">{{'Supervisor Phone is required'| translate}}.</span>
                      </div>                      
                      </div>
                </div>
                   </div>
                  </form>
                  <ul class="list-inline wizard d-flex justify-content-end mb-0">
                    <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                    <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Next</button></li>
                  </ul>
                </section>
                }
              </cdk-step>

              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number">2.</span>
                  <span>{{'Company address' | translate}}</span>
                </ng-template>
                @if(cdkStepper.selectedIndex === 1){
                <section>
                  <form  [formGroup]="adminForm" >
                    <div class="row">
                      
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="country_id" >{{'Country' | translate}}</label>
                            <ng-select  id="country_id" placeholder="{{'Select_the_Country' |translate}}" [items]="filteredCountries" bindLabel="translatedName" 
                            bindValue="id"  formControlName="country_id" (change)="onChangeCountrySelection($event)" >
                            </ng-select>  
                        </div>
                        </div>
    
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                            <label for="area_id">{{'area' | translate}}</label>
                            <ng-select  id="area_id"  formControlName="area_id" placeholder="{{'Select_the_Area' |translate}}" [items]="filteredAreas" bindLabel="translatedName" 
                            bindValue="id" (change)="onChangeAreaSelection($event)" >
                            </ng-select>                         
                            </div>
                        </div>
    
                        <div class="col-md-6 mb-3">
                        <div class="form-group ">
                            <label for="city_id" >{{'City' | translate}}</label>
                            <ng-select id="city_id" placeholder="{{'Select_the_City' |translate}}" [items]="filteredCities" bindLabel="translatedName" 
                            bindValue="id"  formControlName="city_id"  >
                            </ng-select>                      
                        </div>
                        </div>
                    </div>
                  </form>

                  <ul class="list-inline wizard d-flex justify-content-end mb-0">
                    <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                    <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Next</button></li>
                  </ul>
                </section>
                }
              </cdk-step>

              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number">3.</span>
                  <span>Bank Details</span>
                </ng-template>
                @if(cdkStepper.selectedIndex === 2){
                <section>
                  <form  [formGroup]="adminForm" >

                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="bankAccountNumber">{{'Bank Account Number' | translate}}</label>
                          <input type="text" id="bankAccountNumber" class="form-control" placeholder="{{ 'Enter Bank Account Number' | translate }}" formControlName="bankAccountNumber" [readonly]="type==='view'">
                        </div>
                      </div>
    
                    
                 
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="mb-3">
                            <label for="basicpill-expiration-input">Expiration Date</label>
                            <input type="text" class="form-control" id="basicpill-expiration-input">
                          </div>
                        </div>

                      </div>
                    </form>
              

                  <ul class="list-inline wizard d-flex justify-content-end mb-0">
                    <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                    <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Next</button></li>
                  </ul>
                </section>}
              </cdk-step>

              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number">4.</span>
                  <span>Confirm Detail</span>
                </ng-template>
                @if(cdkStepper.selectedIndex === 3){
                <section>
                  <div class="row justify-content-center">
                    <div class="col-lg-6">
                      <div class="text-center">
                        <div class="mb-4">
                          <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                        </div>
                        <div>
                          <h5>Confirm Detail</h5>
                          <p class="text-muted">If several languages coalesce, the grammar of the resulting</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ul class="list-inline wizard d-flex justify-content-end mb-0">
                    <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                    <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Finish</button></li>
                  </ul>
                </section>
                }
              </cdk-step>

            </ng-stepper>
          </div>

        </div>
        <!-- end card body -->
     <!-- </div>-->
      <!-- end card -->
 <!--   </div> -->
    <!-- end col -->
 <!-- </div> -->
 <div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title mb-4">Basic Wizard</h4> -->
        <div id="basic-example">
          <ng-stepper #cdkStepper [linear]="true" class="wizard">

            <cdk-step [optional]="false">
              <ng-template cdkStepLabel>
                <span class="number">1.</span>
                <span>{{'Company Details' | translate}}</span>
              </ng-template>
              @if(cdkStepper.selectedIndex === 0){
              <section>
                <form [formGroup]="adminForm">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                         <div class="form-group ">
                        <label for="name" >{{'Company Name'| translate }} <span   class="text-danger">*</span></label>
                        <input type="text" id="name" class="form-control" formControlName="name" placeholder="{{ 'Enter Company Name' | translate }}" required    >
                        <div *ngIf="adminForm.get('name').touched && adminForm.get('name').invalid" class="invalid-feedback d-block">
                        <span *ngIf="adminForm.get('name').errors?.['required']">{{'Company Name is required'| translate}}.</span>
                        </div>  
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <div class="form-group ">
                          <label for="name_ar" >{{'Company Name in arabic' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <input type="text" id="name_ar" class="form-control" formControlName="name_ar" placeholder="{{ 'Enter Company Name in Arabic' | translate }}" required [readonly]="type==='view'">
                          <div *ngIf="adminForm.get('name_ar').touched && adminForm.get('name_ar').invalid" class="invalid-feedback d-block">
                            <span *ngIf="adminForm.get('name_ar').errors?.['required']">{{'Arabic Company Name is required'| translate}}.</span>
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <div class="form-group">
                          <label for="phone">{{'Company Phone' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label><br>
                          <app-phone-number
                          *ngIf="adminForm"
                          [initialPhoneNumber]="adminForm.get('phone').value"
                          [disabled]="type === 'view'"
                          [inputId]="'phone'"
                          [placeholder]="'Enter Company Phone' | translate"
                          (phoneNumberChanged)="onSupervisorPhoneChanged($event)" >
                         </app-phone-number> 
                          <div *ngIf="adminForm.get('phone').touched && adminForm.get('phone').invalid" class="invalid-feedback d-block">
                            <span *ngIf="adminForm.get('phone').errors?.['required']">{{'Company Phone is required'| translate}}.</span>
                          </div>                      
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="basicpill-email-input">{{'Email' | translate}}</label>
                        <input type="email" class="form-control" id="basicpill-email-input" placeholder="{{'Enter Company Email' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label for="basicpill-address-input">{{'Company Full Address' | translate}}</label>
                        <textarea id="basicpill-address-input" class="form-control" rows="2" placeholder="{{'Enter Company Full Address' | translate}}"></textarea>
                      </div>
                    </div>
                  </div>
                </form>
                <ul class="list-inline wizard d-flex justify-content-end mb-0">
                  <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                  <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Next</button></li>
                </ul>
              </section>
              }
            </cdk-step>

            <cdk-step [optional]="true">
              <ng-template cdkStepLabel>
                <span class="number">2.</span>
                <span>{{'Company Registration Details' | translate}}</span>
              </ng-template>
              @if(cdkStepper.selectedIndex === 1){
              <section>
                <form>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="basicpill-pancard-input">PAN Card</label>
                        <input type="text" class="form-control" id="basicpill-pancard-input">
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="basicpill-vatno-input">VAT/TIN No.</label>
                        <input type="text" class="form-control" id="basicpill-vatno-input">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="basicpill-cstno-input">CST No.</label>
                        <input type="text" class="form-control" id="basicpill-cstno-input">
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="basicpill-servicetax-input">Service Tax No.</label>
                        <input type="text" class="form-control" id="basicpill-servicetax-input">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="basicpill-companyuin-input">Company UIN</label>
                        <input type="text" class="form-control" id="basicpill-companyuin-input">
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="basicpill-declaration-input">Declaration</label>
                        <input type="text" class="form-control" id="basicpill-declaration-input">
                      </div>
                    </div>
                  </div>
                </form>

                <ul class="list-inline wizard d-flex justify-content-end mb-0">
                  <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                  <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Next</button></li>
                </ul>
              </section>
              }
            </cdk-step>

            <cdk-step [optional]="true">
              <ng-template cdkStepLabel>
                <span class="number">3.</span>
                <span>Bank Details</span>
              </ng-template>
              @if(cdkStepper.selectedIndex === 2){
              <section>
                <div>
                  <form>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="basicpill-namecard-input">Name on Card</label>
                          <input type="text" class="form-control" id="basicpill-namecard-input">
                        </div>
                      </div>

                    
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="basicpill-cardno-input">Credit Card Number</label>
                          <input type="text" class="form-control" id="basicpill-cardno-input">
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="basicpill-card-verification-input">Card Verification Number</label>
                          <input type="text" class="form-control" id="basicpill-card-verification-input">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="basicpill-expiration-input">Expiration Date</label>
                          <input type="text" class="form-control" id="basicpill-expiration-input">
                        </div>
                      </div>

                    </div>
                  </form>
                </div>

                <ul class="list-inline wizard d-flex justify-content-end mb-0">
                  <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                  <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Next</button></li>
                </ul>
              </section>}
            </cdk-step>

            <cdk-step [optional]="true">
              <ng-template cdkStepLabel>
                <span class="number">4.</span>
                <span>Confirm Detail</span>
              </ng-template>
              @if(cdkStepper.selectedIndex === 3){
              <section>
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <div class="text-center">
                      <div class="mb-4">
                        <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                      </div>
                      <div>
                        <h5>Confirm Detail</h5>
                        <p class="text-muted">If several languages coalesce, the grammar of the resulting</p>
                      </div>
                    </div>
                  </div>
                </div>

                <ul class="list-inline wizard d-flex justify-content-end mb-0">
                  <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                  <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Finish</button></li>
                </ul>
              </section>
              }
            </cdk-step>

          </ng-stepper>
        </div>

      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
</div>
    