.fc-coupon-button
{ 
    box-shadow: none;
    background-color: #0275d8 !important;
    border-color: #0275d8 !important;
}
.fc-giftcard-button
{ 
    box-shadow: none;
    background-color: #5cb85c !important;
    border-color: #5cb85c !important;
}
.fc-special-button
{ 
    box-shadow: none;
    background-color:  #f0ad4e !important;
    border-color: #f0ad4e !important;
}

