<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div id="elmLoader" class="loader" *ngIf="loading$ | async">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">{{'Loading...' | translate}}</span>
  </div>
</div>   
<div #formElement class="row">
    <div class="col-12">
        <div class="card">
            <div  class="card-body">
              <form   [formGroup]="merchantForm" >
               <div *ngIf="formError" class="alert alert-danger">{{ formError | translate}}</div>
               <div class="d-flex align-items-center justify-content-between mb-2">                 
                              
                <div class="form-check form-switch form-switch-md ms-auto">
                  <label class="form-check-label" for="SwitchCheckSizelg1">{{(merchantForm.get('status')?.value === 'active')? 'Active': 'InActive'}}</label>
                  <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg1" formControlName="status"  [checked]="(merchantForm.get('status').value === 'active')" (change)="onToggle($event)">
                </div>
             
              </div>  
               <div class="row">
                  <div class="row">
                  <div class="col-md-6 col-lg-4 mb-3">
                    <div class="form-group ">
                    <label for="merchantName" >{{'Merchant Name'| translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                    <input type="text" id="merchantName" class="form-control" formControlName="merchantName" placeholder="{{ 'Enter merchant name' | translate }}" required [readonly]="type==='view'">
                    <div *ngIf="merchantForm.get('merchantName').touched && merchantForm.get('merchantName').invalid" class="invalid-feedback d-block">
                      <span *ngIf="merchantForm.get('merchantName').errors?.['required']">{{'Merchant Name is required'| translate}}.</span>
                    </div>  
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-group">
                    <label for="section_id">{{'Merchant Section' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                    <ng-select [readonly]="type === 'view'" placeholder="{{'Select a section' | translate}}" [items]="sectionlist" bindLabel="translatedName" 
                    bindValue="id" id="section_id" formControlName="sections" [multiple]="true">
                    </ng-select>
                    <div *ngIf="merchantForm.get('sections').touched && merchantForm.get('sections').invalid" class="invalid-feedback d-block">
                      <span *ngIf="merchantForm.get('sections').errors?.['required']">{{'Section is required'| translate}}.</span>
                    </div>   
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-group">
                    <label for="officeTel" >{{'Merchant Phone Number' |  translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label><br>
                   <app-phone-number
                   [disabled]="type === 'view'"
                   [phoneCode]="phoneCode"
                   *ngIf="merchantForm "
                   [initialPhoneNumber]="merchantForm.get('officeTel')?.value"
                   [inputId]="'officeTel'"
                   [placeholder]="'Enter merchant phone' | translate"
                    (phoneNumberChanged)="onMerchantPhoneNumberChanged($event)" >
                  </app-phone-number>
                   <div *ngIf="merchantForm.get('officeTel').touched && merchantForm.get('officeTel').invalid" class="invalid-feedback d-block">
                    <span *ngIf="merchantForm.get('officeTel').errors?.['required']">{{'Phone Number is required'| translate}}.</span>
                  </div>   
                  </div>
                </div>
                  </div>
              <div class="row">
                
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-group">
                    <label for="website">{{'Merchant Website' | translate}}</label>
                    <input type="text" id="website" class="form-control" formControlName="website" placeholder="https://example.com" [readonly]="type==='view'">
                  </div>
                </div>
            
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-group">
                    <label for="country_id" >{{'Country' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                    <ng-select [readonly]="type === 'view'" id="country_id" placeholder="{{'Select_the_Country' | translate}}" [items]="filteredCountries" bindLabel="translatedName" 
                    bindValue="id" formControlName="country_id" (change)="onChangeCountrySelection($event)" >
                   </ng-select>  
                    <div *ngIf="merchantForm.get('country_id').touched && merchantForm.get('country_id').invalid" class="invalid-feedback d-block">
                      <span *ngIf="merchantForm.get('country_id').errors?.['required']">{{'Country is required'| translate}}.</span>
                    </div>   
                  </div>
                </div>
                
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-group ">
                    <label for="city_id" >{{'City' | translate}}</label>
                    <ng-select [readonly]="type === 'view'" id="city_id" [loading]="loadingCities$ | async" placeholder="{{'Select_the_City' | translate}}" [items]="filteredCities" bindLabel="translatedName" 
                    bindValue="id" formControlName="city_id"  >
                    </ng-select>  
                                         
                  </div>
                </div>
              </div>
                <!-- <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-group ">
                  <label for="merchantName_ar" >{{'Merchant Name in arabic' | translate}} </label>
                  <input type="text" id="merchantName_ar" class="form-control" formControlName="merchantName_ar" placeholder="{{ 'Enter merchant name in arabic' | translate }}"  [readonly]="type==='view'">
                  
                </div>
              </div> -->
              <div class="row">
                  <div class="col-md-6 col-lg-4 mb-3">
                    <div class="form-group ">
                       
                        <label for="f_name" >{{'Manager First Name' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input type="text" id="f_name" class="form-control" formControlName="f_name" placeholder="{{ 'Enter the first name' | translate }}" required [readonly]="type==='view'">
                        <div *ngIf="merchantForm.get('f_name').touched && merchantForm.get('f_name').invalid" class="invalid-feedback d-block">
                            <span *ngIf="merchantForm.get('f_name').errors?.['required']">{{'Please enter the first Name'| translate}}.</span>
                          </div>
                      </div> 
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                    <div class="form-group ">
                       
                        <label for="l_name" >{{'Manager Last Name' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input type="text" id="l_name" class="form-control" formControlName="l_name" placeholder="{{ 'Enter the last name' | translate }}" required [readonly]="type==='view'">
                        <div *ngIf="merchantForm.get('l_name').touched && merchantForm.get('l_name').invalid" class="invalid-feedback d-block">
                            <span *ngIf="merchantForm.get('l_name').errors?.['required']">{{'Please enter the last name'| translate}}.</span>
                          </div>
                      </div> 
                  </div>
               
                  <div class="col-md-6 col-lg-4 mb-3">
                    <div class="form-group ">
                      <label for="email">{{'Manager Email' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                      <input  type="email" id="email" class="form-control" formControlName="email" placeholder="{{ 'Enter the email' | translate }}" required [readonly]="type!=='create'">
                      <div *ngIf="merchantForm.get('email').touched && merchantForm.get('email').invalid" class="invalid-feedback d-block">
                        <span *ngIf="merchantForm.get('email').errors?.['required']">{{'Please enter the email'| translate}}.</span>
                      </div>
                    </div>
                  </div>         
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-lg-4 mb-3">
                      <div class="form-group">
                        <label for="phone" >{{'Manager Phone Number' |  translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label><br>
                       <app-phone-number
                       [disabled]="type === 'view'"
                       *ngIf="merchantForm "
                       [initialPhoneNumber]="merchantForm.get('phone')?.value"
                       [inputId]="'phone'"
                       [placeholder]="'Enter manager phone' | translate"
                        (phoneNumberChanged)="onPhoneNumberChanged($event)" >
                      </app-phone-number>
                       <div *ngIf="merchantForm.get('phone').touched && merchantForm.get('phone').invalid" class="invalid-feedback d-block">
                        <span *ngIf="merchantForm.get('phone').errors?.['required']">{{'Phone Number is required'| translate}}.</span>
                      </div>   
                      </div>
                    </div>
                   
                    
                    <div class="col-md-6 col-lg-4 mb-3">
                      <div class="form-group ">
                          <label for="jobTitle" >{{'Manager Job Title' | translate}} </label>
                          <input type="text" id="jobTitle" class="form-control" formControlName="jobTitle" placeholder="{{ 'Enter your Job Title ' | translate }}">
                     </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 mb-3">
                      <div class="form-group">
                        <label for="bankAccountNumber">{{'Merchant Bank Account Number' | translate}}</label>
                        <input type="text" id="bankAccountNumber" class="form-control" placeholder="{{ 'Enter Bank Account Number' | translate }}" formControlName="bankAccountNumber" [readonly]="type==='view'">
                      </div>
                    </div>  
                      
                  </div>    
                 
                   <div class="row" >
                    <ng-template *ngIf="type !== 'create'" class="col-md-6 col-lg-4 mb-3">
                      <div class="form-group ">
                        <label for="activationCode" >{{'Activation Code' | translate}} </label>
                        <input type="text" id="activationCode" class="form-control" formControlName="activationCode"   [readonly]="type==='view'">
                       
                    </div>
                   </ng-template>
                    <ng-template *ngIf="type !== 'create'" class="col-md-6 col-lg-4 mb-3">
                      <div class="form-group">
                        <label for="qrCode">{{ 'QR Code' | translate }}</label>
                    
                        <!-- Display the merchant qrCode if it exists -->
                        <div *ngIf="merchantForm.get('qrCode').value !== null && merchantForm.get('qrCode').value !== ''"
                        class="mb-3">
                          <img [src]="merchantForm.get('qrCode').value" alt="Merchant QR Code" class="img-fluid"  width="200">
                        </div> 
                      </div>
                    </ng-template>
                  </div>
                   
                <div class="row">
                  
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-group">
                    <label for="whatsup">{{'WhatsApp' | translate}}</label>
                    <input type="text" id="whatsup" class="form-control" formControlName="whatsup" placeholder="+1234567890" [readonly]="type==='view'">
                  </div>
                </div>
               
            
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-group">
                    <label for="facebook">{{'Facebook' | translate}}</label>
                    <input type="text" id="facebook" class="form-control" formControlName="facebook" placeholder="facebook.com/yourpage" [readonly]="type==='view'">
                  </div>
                </div>
             
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-group">
                    <label for="twitter">{{'Twitter' | translate}}</label>
                    <input type="text" id="twitter" class="form-control" formControlName="twitter" placeholder="twitter.com/yourhandle" [readonly]="type==='view'">
                  </div>
                </div>
                 </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-group">
                    <label for="instagram">{{'Instagram' | translate}}</label>
                    <input type="text" id="instagram" class="form-control" formControlName="instagram" placeholder="instagram.com/yourprofile" [readonly]="type==='view'">
                  </div>
                </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-lg-4 me-4">
                      <div class="form-group">
                        <label for="companyLogo">{{ 'Merchant Logo' | translate }}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                    
                        <!-- File input for selecting or uploading a new image -->
                        <app-image-upload [id]="'companyLogo'" [type]="'logo'" [label]="'Upload company Logo' | translate" [existantImage]="existantcompanyLogo" [filename]="fileName1" [alt]="'Coupon Logo'" [disabled]="type ==='view'" (logoUploaded)="onLogoUpload($event)"></app-image-upload>
                     
                        <div *ngIf="merchantForm.get('companyLogo').touched && merchantForm.get('companyLogo').invalid" class="invalid-feedback d-block">
                          <span *ngIf="merchantForm.get('companyLogo').errors?.['required']">{{'Merchant Logo is required'| translate}}.</span>
                        </div>   
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-4 ">
                      <div class="form-group">
                        <label for="image">{{'Manager Picture' | translate}}</label>
                        <app-image-upload [id]="'image'" [type]="'image'" [label]="'Upload Manager Picture' | translate" [existantImage]="existantmerchantPicture" [filename]="fileName2" [alt]="'Manager Pictutre'" [disabled]="type ==='view'" (imageUploaded)="onImageUpload($event)"></app-image-upload>

                         
                      </div>
                    </div>
                  </div>
                <div class="col-12  mt-4">
                    <div class="d-flex justify-content-end">
                      <div class="d-flex justify-content-end">
                        <ng-container *ngIf="type ==='view'; else editModeButtons">
                          <button type="button" class="btn btn-success" (click)="toggleViewMode()">{{ 'Go_Back' | translate }}</button>
                        </ng-container>
                        <ng-template #editModeButtons>
                          <button type="button" id="cancel-btn" class="btn btn-outline-secondary me-2" (click)="onCancel()">{{ 'Cancel' | translate }}</button>
                          <button type="submit" class="btn btn-success" (click)="onSubmit()">{{ (type === 'create' ? 'Add_merchant' : 'update_merchant') | translate }}</button>
                          <div id="elmLoader" class="loader" *ngIf="loading$ | async">
                            <div class="spinner-border text-primary avatar-sm" role="status">
                              <span class="visually-hidden">{{'Loading...' | translate}}</span>
                            </div>
                          </div>   
                        </ng-template>
                      </div>
                    </div>
                </div>
                </div>
              </form>
            </div>
        </div>
    </div> <!-- end col -->
  </div>
  