<div id="elmLoader" class="loader" *ngIf="loading$ | async">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">{{'Loading...' | translate}}</span>
  </div>
</div>   
<div class="row">
    <div class="col-19">
        <div class="card">
            <div class="card-body ">
              <form  [formGroup]="merchantForm"  class="m-4">
                <div *ngIf="formError" class="alert alert-danger">{{ formError | translate}}</div>
                <div class="row">

                  <div class="col-md-6 mb-3">
                    <div class="form-group ">
                    <label for="merchantName" >{{'Merchant_Name'| translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                    <input type="text" id="merchantName" class="form-control" formControlName="merchantName" placeholder="{{ 'Enter merchant name' | translate }}" required [readonly]="type==='view'">
                    <div *ngIf="merchantForm.get('merchantName').touched && merchantForm.get('merchantName').invalid" class="invalid-feedback d-block">
                      <span *ngIf="merchantForm.get('merchantName').errors?.['required']">{{'Merchant Name is required'| translate}}.</span>
                    </div>  
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group ">
                  <label for="merchantName_ar" >{{'Merchant Name in arabic' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                  <input type="text" id="merchantName_ar" class="form-control" formControlName="merchantName_ar" placeholder="{{ 'Enter merchant name in arabic' | translate }}" required [readonly]="type==='view'">
                  <div *ngIf="merchantForm.get('merchantName_ar').touched && merchantForm.get('merchantName_ar').invalid" class="invalid-feedback d-block">
                    <span *ngIf="merchantForm.get('merchantName_ar').errors?.['required']">{{'Arabic Merchant Name is required'| translate}}.</span>
                  </div>  
                </div>
              </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group ">
                       
                        <label for="username" >{{'Username' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input type="text" id="username" class="form-control" formControlName="username" placeholder="{{ 'Enter username' | translate }}" required [readonly]="type==='view'">
                        <div *ngIf="merchantForm.get('username').touched && merchantForm.get('username').invalid" class="invalid-feedback d-block">
                            <span *ngIf="merchantForm.get('username').errors?.['required']">{{'Please enter the username'| translate}}.</span>
                          </div>
                      </div> 
                  </div>

                  <div class="col-md-6 mb-3">
                    <div class="form-group ">
                      <label for="email">{{'Email' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                      <input  type="email" id="email" class="form-control" formControlName="email" placeholder="{{ 'Enter the email' | translate }}" required [readonly]="type==='view'">
                      <div *ngIf="merchantForm.get('email').touched && merchantForm.get('email').invalid" class="invalid-feedback d-block">
                        <span *ngIf="merchantForm.get('email').errors?.['required']">{{'Please enter the email'| translate}}.</span>
                      </div>
                    </div>
                  </div>
               
                              
                  <div *ngIf="type == 'create'" class="col-md-6 mb-3">
                    <div class="form-group ">
                        <div class="form-group ">
                          <label for="password" >{{'Password' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <div class="input-group auth-pass-inputgroup">
                          <input [type]="fieldTextType ? 'text' : 'password'" id="password" class="form-control" placeholder="{{ 'Enter the Password' | translate }}" formControlName="password" required>
                          <button class="btn btn-light ms-0" type="button" id="password-addon">
                            <i class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType}" (click)="toggleFieldTextType()"></i>
                          </button>
                          <div *ngIf="merchantForm.get('password').touched && merchantForm.get('password').invalid" class="invalid-feedback d-block">
                            <span *ngIf="merchantForm.get('password').errors?.['required']">{{'Please enter the password'| translate}}.</span>
                          </div>
                          </div>
                        </div>
                    </div>
                    </div>

                  <div *ngIf="type == 'create'" class="col-md-6 mb-3">
                      <div class="form-group ">
                        <div class="form-group ">
                          <label for="confpassword" >{{'Confirm Password' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <div class="input-group auth-pass-inputgroup">
                          <input [type]="confirmFieldTextType ? 'text' : 'password'" id="confpassword" class="form-control" placeholder="{{ 'Confirm Your New Password' | translate }}" formControlName="confpassword" required>
                          <button class="btn btn-light ms-0" type="button" id="password-addon">
                            <i class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !confirmFieldTextType, 'mdi-eye-outline': confirmFieldTextType}" (click)="toggleConfirmFieldTextType()"></i>
                          </button>
                          <div *ngIf="merchantForm.get('confpassword').touched && merchantForm.get('confpassword').invalid" class="invalid-feedback d-block">
                            <span *ngIf="merchantForm.get('confpassword').errors?.['required']">{{'Please confirm your new password' | translate}}.</span>
                            <div *ngIf="passwordMatchError">{{ 'confirm_password_does_not_matched' | translate }}</div>
                          </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group ">
                      <label for="id_number" >{{'National ID' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                      <input type="text" id="id_number" class="form-control" formControlName="id_number" placeholder="{{ 'Enter your National ID number' | translate }}" required [readonly]="type==='view'">
                      <div *ngIf="merchantForm.get('id_number').touched && merchantForm.get('id_number').invalid" class="invalid-feedback d-block">
                          <span *ngIf="merchantForm.get('id_number').errors?.['required']">{{'id_number is required'| translate}}.</span>
                        </div>
                  </div>
                 </div>
                    
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="phone" >{{'Phone Number' |  translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label><br>
                       <app-phone-number
                       [disabled]="type === 'view'"
                       [initialPhoneNumber]="merchantForm.get('phone').value"
                       [inputId]="'phone'"
                       [placeholder]="'Enter merchant phone' | translate"
                       *ngIf="merchantForm"
                        (phoneNumberChanged)="onPhoneNumberChanged($event)" >
                      </app-phone-number>
                       <div *ngIf="merchantForm.get('phone').touched && merchantForm.get('phone').invalid" class="invalid-feedback d-block">
                        <span *ngIf="merchantForm.get('phone').errors?.['required']">{{'Phone Number is required'| translate}}.</span>
                      </div>   
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="serviceType">{{'Service Type' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input *ngIf="type === 'view'" type="text" id="serviceType"  class="form-control" formControlName="serviceType"  [readonly]="type==='view'">
                        <ng-select [hidden]="type === 'view'" placeholder="{{'Select service type' |translate}}" id="serviceType"  [items]="serviceTypes" formControlName="serviceType"  >
                        </ng-select>
                        <div *ngIf="merchantForm.get('serviceType').touched && merchantForm.get('serviceType').invalid" class="invalid-feedback d-block">
                        <span *ngIf="merchantForm.get('serviceType').errors?.['required']">{{'Service Type is required'| translate}}.</span>
                      </div>
                    </div>
                    </div>
                 
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="supervisorName">{{'Supervisor Name' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input type="text" id="supervisorName" class="form-control" placeholder="{{ 'Enter supervisor name' | translate }}" formControlName="supervisorName" [readonly]="type==='view'">
                        <div *ngIf="merchantForm.get('supervisorName').touched && merchantForm.get('supervisorName').invalid" class="invalid-feedback d-block">
                          <span *ngIf="merchantForm.get('supervisorName').errors?.['required']">{{'Supervisor Name is required'| translate}}.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="supervisorName_ar">{{'Supervisor Name in arabic' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input type="text" id="supervisorName_ar" class="form-control" placeholder="{{ 'Enter supervisor name in arabic' | translate }}" formControlName="supervisorName_ar" [readonly]="type==='view'">
                        <div *ngIf="merchantForm.get('supervisorName_ar').touched && merchantForm.get('supervisorName_ar').invalid" class="invalid-feedback d-block">
                          <span *ngIf="merchantForm.get('supervisorName_ar').errors?.['required']">{{'Arabic Supervisor Name is required'| translate}}.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="supervisorPhone">{{'Supervisor Phone' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label><br>
                        <app-phone-number
                        [initialPhoneNumber]="merchantForm.get('supervisorPhone').value"
                        [disabled]="type === 'view'"
                        *ngIf="merchantForm"
                        [inputId]="'supervisorPhone'"
                        [placeholder]="'Enter supervisor phone' | translate"
                        (phoneNumberChanged)="onSupervisorPhoneChanged($event)" >
                       </app-phone-number> 
                       <div *ngIf="merchantForm.get('supervisorPhone').touched && merchantForm.get('supervisorPhone').invalid" class="invalid-feedback d-block">
                        <span *ngIf="merchantForm.get('supervisorPhone').errors?.['required']">{{'Supervisor Phone is required'| translate}}.</span>
                      </div>                      
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="section_id">{{'Merchant Section' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input *ngIf="type === 'view'"
                          type="text" 
                          class="form-control" 
                          [value]="getSectionName(merchantForm.get('section_id').value)" 
                          readonly 
                        />
                        <ng-select [hidden]="type === 'view'" placeholder="{{'Select a section' | translate}}" [items]="sectionlist" bindLabel="name" 
                        bindValue="id" id="section_id"  formControlName="section_id">
                        </ng-select>
                        <div *ngIf="merchantForm.get('section_id').touched && merchantForm.get('section_id').invalid" class="invalid-feedback d-block">
                          <span *ngIf="merchantForm.get('section_id').errors?.['required']">{{'Section is required'| translate}}.</span>
                        </div>   
                      </div>
                    </div>
                    <div *ngIf="type !== 'create'" class="col-md-6 mb-3">
                      <div class="form-group ">
                        <label for="activationCode" >{{'Activation Code' | translate}} </label>
                        <input type="text" id="activationCode" class="form-control" formControlName="activationCode"   [readonly]="type==='view'">
                        <div *ngIf="merchantForm.get('activationCode').touched && merchantForm.get('activationCode').invalid" class="invalid-feedback d-block">
                            <span *ngIf="merchantForm.get('activationCode').errors?.['required']">{{'id_number is required'| translate}}.</span>
                          </div>
                    </div>
                   </div>
                    <div *ngIf="type !== 'create'" class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="qrCode">{{ 'QR Code' | translate }}</label>
                    
                        <!-- Display the merchant qrCode if it exists -->
                        <div *ngIf="merchantForm.get('qrCode').value !== null && merchantForm.get('qrCode').value !== ''"
                        class="mb-3">
                          <img [src]="merchantForm.get('qrCode').value" alt="Merchant QR Code" class="img-fluid"  width="200">
                        </div> 
                      </div>
                    </div>
                    <div class="col-md-6 mb-3"></div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="merchantLogo">{{ 'Merchant Logo' | translate }}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                    
                        <!-- File input for selecting or uploading a new image -->
                        <app-image-upload [existantImage]="existantmerchantLogo" [filename]="fileName1" [alt]="'Merchant Logo'" [disabled]="type ==='view'" (imageUploaded)="onLogoUploaded($event)"></app-image-upload>
                     
                        <div *ngIf="merchantForm.get('merchantLogo').touched && merchantForm.get('merchantLogo').invalid" class="invalid-feedback d-block">
                          <span *ngIf="merchantForm.get('merchantLogo').errors?.['required']">{{'Merchant Logo is required'| translate}}.</span>
                        </div>   
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="merchantPicture">{{'Merchant Picture' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                         
                        <app-image-upload  [existantImage]="existantmerchantPicture" [filename]="fileName2" [alt]="'Merchant Pictutre'" [disabled]="type ==='view'" (imageUploaded)="onPictureUploaded($event)"></app-image-upload>

                        <div *ngIf="merchantForm.get('merchantPicture').touched && merchantForm.get('merchantPicture').invalid" class="invalid-feedback d-block">
                          <span *ngIf="merchantForm.get('merchantPicture').errors?.['required']">{{'Merchant Picture is required'| translate}}.</span>
                        </div>   
                      </div>
                    </div>
                
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="country_id" >{{'Country' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                      <input *ngIf="type === 'view'"
                      type="text" 
                      class="form-control" 
                      [value]="getCountryName(merchantForm.get('country_id').value)" 
                      readonly 
                  />
                      <ng-select [hidden]="type === 'view'" id="country_id" placeholder="{{'Select_the_Country' | translate}}" [items]="filteredCountries" bindLabel="name" 
                      bindValue="id" formControlName="country_id" (change)="onChangeCountrySelection($event)" >
                     </ng-select>  
                      <div *ngIf="merchantForm.get('country_id').touched && merchantForm.get('country_id').invalid" class="invalid-feedback d-block">
                        <span *ngIf="merchantForm.get('country_id').errors?.['required']">{{'Country is required'| translate}}.</span>
                      </div>   
                    </div>
                  </div>
                  
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="area_id">{{'Area' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input *ngIf="type === 'view'"
                          type="text" 
                          class="form-control" 
                          [value]="getAreaName(merchantForm.get('area_id').value)" 
                          readonly 
                      />
                        <ng-select  [hidden]="type === 'view'" id="area_id" placeholder="{{'Select_the_Area' | translate}}" [items]="filteredAreas" bindLabel="name" 
                        bindValue="id" formControlName="area_id" (change)="onChangeAreaSelection($event)" >
                        </ng-select> 
                        <div *ngIf="merchantForm.get('area_id').touched && merchantForm.get('area_id').invalid" class="invalid-feedback d-block">
                          <span *ngIf="merchantForm.get('area_id').errors?.['required']">{{'Area is required'| translate}}.</span>
                        </div>                           
                      </div>
                    </div>

                  <div class="col-md-6 mb-3">
                    <div class="form-group ">
                      <label for="city_id" >{{'City' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                      <input *ngIf="type === 'view'"
                      type="text" 
                      class="form-control" 
                      [value]="getCityName(merchantForm.get('city_id').value)" 
                      readonly 
                  />
                      <ng-select [hidden]="type === 'view'" id="city_id" placeholder="{{'Select_the_City' | translate}}" [items]="filteredCities" bindLabel="name" 
                      bindValue="id" formControlName="city_id"  >
                      </ng-select>  
                      <div *ngIf="merchantForm.get('city_id').touched && merchantForm.get('city_id').invalid" class="invalid-feedback d-block">
                        <span *ngIf="merchantForm.get('city_id').errors?.['required']">{{'City is required'| translate}}.</span>
                      </div>                         
                    </div>
                  </div>
                              
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="bankAccountNumber">{{'Bank Account Number' | translate}}</label>
                      <input type="text" id="bankAccountNumber" class="form-control" placeholder="{{ 'Enter Bank Account Number' | translate }}" formControlName="bankAccountNumber" [readonly]="type==='view'">
                    </div>
                  </div>

                  
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="website">{{'Merchant Website' | translate}}</label>
                      <input type="text" id="website" class="form-control" formControlName="website" placeholder="https://example.com" [readonly]="type==='view'">
                    </div>
                  </div>
               
            
              
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="whatsup">{{'WhatsApp' | translate}}</label>
                    <input type="text" id="whatsup" class="form-control" formControlName="whatsup" placeholder="+1234567890" [readonly]="type==='view'">
                  </div>
                </div>
               
            
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="facebook">{{'Facebook' | translate}}</label>
                    <input type="text" id="facebook" class="form-control" formControlName="facebook" placeholder="facebook.com/yourpage" [readonly]="type==='view'">
                  </div>
                </div>
              
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="twitter">{{'Twitter' | translate}}</label>
                    <input type="text" id="twitter" class="form-control" formControlName="twitter" placeholder="twitter.com/yourhandle" [readonly]="type==='view'">
                  </div>
                </div>
                
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="instagram">{{'Instagram' | translate}}</label>
                    <input type="text" id="instagram" class="form-control" formControlName="instagram" placeholder="instagram.com/yourprofile" [readonly]="type==='view'">
                  </div>
                </div>
                    
                  </div>
                <div class="col-12  mt-4">
                    <div class="d-flex justify-content-end">
                      <div class="d-flex justify-content-end">
                        <ng-container *ngIf="type =='view'; else editModeButtons">
                          <button type="button" class="btn btn-success" (click)="toggleViewMode()">{{ 'Go_Back' | translate }}</button>
                        </ng-container>
                        <ng-template #editModeButtons>
                          <button type="button" id="cancel-btn" class="btn btn-outline-secondary me-2" (click)="onCancel()">{{ 'Cancel' | translate }}</button>
                          <button type="submit" class="btn btn-success" (click)="onSubmit()">{{ (type === 'create' ? 'Add_merchant' : 'update_merchant') | translate }}</button>
                          <div id="elmLoader" class="loader" *ngIf="loading$ | async">
                            <div class="spinner-border text-primary avatar-sm" role="status">
                              <span class="visually-hidden">{{'Loading...' | translate}}</span>
                            </div>
                          </div>   
                        </ng-template>
                      </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div> <!-- end col -->
  </div>
  