<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="container-fluid">

  <app-page-title title="{{'Profile Details' | translate}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <tabset class="nav-tabs">
            <tab>
              <ng-template tabHeading class="mb-2 h2">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block">{{'My Profile'| translate}}</span>
              </ng-template>
              <div class="tab-page-content  mt-3">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-8">
                  <form #formElement class="form-horizontal" [formGroup]="profileForm" >
                    <!-- <div class="row mb-4">
                      <label for="name" class="col-sm-3 col-form-label">Name</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="name" placeholder="Enter Your Name">
                      </div>
                  </div> -->
                  <div class="row mb-4">
                    <label for="f_name" class="col-sm-3 col-form-label">{{'First_Name'| translate}}</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control"formControlName="f_name" id="f_name" placeholder="Enter Your First Name">
                        <div *ngIf="profileForm.get('f_name').touched && profileForm.get('f_name').invalid" class="invalid-feedback d-block">
                          <span *ngIf="profileForm.get('f_name').errors?.['required']">{{'Please enter your First Name'| translate}}.</span>
                        </div>
                    </div>
                </div>
                  <div class="row mb-4">
                    <label for="l_name" class="col-sm-3 col-form-label">{{'Last_Name'| translate}}</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" formControlName="l_name" id="l_name" placeholder="Enter Your Last Name">
                        <div class="invalid-feedback">{{'Please enter your Last Name'  | translate}}.</div>
                    </div>
                </div>
                  <div class="row mb-4">
                      <label for="horizontal-email-input" class="col-sm-3 col-form-label">{{'Email'| translate}}</label>
                      <div class="col-sm-6">
                          <input type="email" class="form-control" formControlName="email" id="horizontal-email-input" placeholder="{{'Enter Your Email'| translate}}" readonly>

                        </div>
                  </div>
                  <div class="row mb-4">
                    <label for="phone" class="col-sm-3 col-form-label">{{'Phone'| translate}}</label>
                    <div class="col-sm-6">
                        <app-phone-number
                        [initialPhoneNumber]="profileForm.get('phone').value"
                        *ngIf="profileForm"
                        [inputId]="'phone'"
                        [placeholder]="'Enter your Phone' | translate"
                         (phoneNumberChanged)="onPhoneNumberChanged($event)" >
                       </app-phone-number>
                        <!-- <div *ngIf="profileForm.get('phone').touched && profileForm.get('phone').invalid" class="invalid-feedback d-block">
                         <span *ngIf="profileForm.get('phone').errors?.['required']">{{'Phone Number is required'| translate}}.</span>
                       </div>    -->
                      </div>
                  </div>
               
                  <div class="row justify-content-end">
                      <div class="col-sm-9">
                          <div>
                              <button type="submit" class="btn btn-primary w-md" (click)="onSubmit()">{{'Submit'|translate}}</button>
                              <div id="elmLoader" class="loader" *ngIf="loading$ | async">
                                <div class="spinner-border text-primary avatar-sm" role="status">
                                  <span class="visually-hidden">{{'Loading...' | translate}}</span>
                                </div>
                              </div>   
                          </div>
                      </div>
                  </div>
              </form>
              </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading class="mb-2 h2">
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block">{{'Update Password'| translate}}</span>
              </ng-template>
              <div class="tab-page-content  mt-3">
                <div class="col-lg-8">
                <form class="form-horizontal" [formGroup]="passwordForm" >
                  <div class="row mb-4">
                  <label for="currentPassword" class="col-sm-3 col-form-label">{{'Current Password'|translate}}</label>
                  <div class="col-sm-6">
                    <div class="input-group auth-pass-inputgroup">
                      <input [type]="fieldTextType ? 'text' : 'password'" id="currentPassword" class="form-control" placeholder="{{ 'Enter Your Current Password' | translate }}" formControlName="currentPassword" required>
                      <button class="btn btn-light ms-0" type="button" id="password-addon">
                        <i  class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType}" (click)="toggleFieldTextType()"></i>
                      </button>
                      <div *ngIf="passwordForm.get('currentPassword').touched && passwordForm.get('currentPassword').invalid" class="invalid-feedback d-block">
                        <span *ngIf="passwordForm.get('currentPassword').errors?.['required']">{{'Please enter your current password.'| translate}}.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <label for="newPassword" class="col-sm-3 col-form-label">{{'New Password'|translate}}</label>
                  <div class="col-sm-6">
                    <div class="input-group auth-pass-inputgroup">
                      <input [type]="fieldTextType1 ? 'text' : 'password'" id="newPassword" class="form-control" placeholder="{{ 'Enter Your New Password' | translate }}" formControlName="newPassword" required>
                      <button class="btn btn-light ms-0" type="button" id="password-addon">
                        <i class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !fieldTextType1, 'mdi-eye-outline': fieldTextType1}" (click)="toggleFieldTextType1()"></i>
                      </button>
                      <div *ngIf="passwordForm.get('newPassword').touched && passwordForm.get('newPassword').invalid" class="invalid-feedback d-block">
                        <span *ngIf="passwordForm.get('newPassword').errors?.['required']">{{'Please enter your current password.'| translate}}.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <label for="confirmpwd" class="col-sm-3 col-form-label">{{'Confirm Password'|translate}}</label>
                  <div class="col-sm-6">
                    <div class="input-group auth-pass-inputgroup">
                      <input [type]="fieldTextType2 ? 'text' : 'password'" id="confirmpwd" class="form-control" placeholder="{{ 'Confirm Your New Password' | translate }}" formControlName="confirmpwd" (keyup)="checkPasswordMatch()" required>
                      <button class="btn btn-light ms-0" type="button" id="password-addon">
                        <i class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !fieldTextType2, 'mdi-eye-outline': fieldTextType2}" (click)="toggleFieldTextType2()"></i>
                      </button>
                      <div *ngIf="passwordForm.get('confirmpwd').touched && passwordForm.get('confirmpwd').invalid" class="invalid-feedback d-block">
                        <span *ngIf="passwordForm.get('confirmpwd').errors?.['required']">{{'Please confirm your new password'| translate}}.</span>
                        <div *ngIf="passwordMatchError">{{ 'confirm_password_does_not_matched' | translate }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-end">
                  <div class="col-sm-9">
                      <div>
                          <button type="submit" class="btn btn-primary w-md" (click)="passwordFormSubmit()">{{'Submit'|translate}}</button>
                          <div id="elmLoader" class="loader" *ngIf="loading$ | async">
                            <div class="spinner-border text-primary avatar-sm" role="status">
                              <span class="visually-hidden">{{'Loading...' | translate}}</span>
                            </div>
                          </div>   
                      </div>
                  </div>
              </div>
                </form>
                </div>
                </div>
            </tab>
           
          </tabset>
        </div>
      </div>
    </div>
    <!-- End Update Profile Tabs -->
  </div>
</div>