 
  <div class="container-fluid">

    <app-custom-table
      [pageTitle] = "'Customer Reviews'| translate"  
      [columns]="columns"
      [viewButtonLink]="'/private/customer-reviews/view'"
      [viewButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Customers, claimValue: [Permission.View]}]"
      [deleteButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Customers, claimValue: [Permission.Delete]}]"
      [ArrayData]="originalArray"
      [totalItems]="(totalItems$ | async)"
      [categoryList] = "categoryList"
      [searchPlaceholder]="searchPlaceholder"
      (pageChanged)="onPageChanged($event)"
      (onPageSizeChanged)="onPageSizeChanged($event)"
      (onFilter)="onFilterEvent($event)"
      (onsearch)="onSearchEvent($event)"
      (onChangeEvent)="onChangeEvent($event)"
      (onDelete)="onDelete($event)">
</app-custom-table>
   
  </div>

  
  <div id="elmLoader" class="loader" *ngIf="loading$ | async">
    <div class="spinner-border text-primary avatar-sm" role="status">
      <span class="visually-hidden">{{'Loading...' | translate}}</span>
    </div>
  </div>    
  
  
  