// html, body{
//   height: 100%; 
//   margin: 0;
//    padding: 0;
// }
.account-pages {
    //background-image: url('/assets/images/home2.jpg');
    background-size: cover;
   // background-color: #454545; 
    //color: #FFFFFF;
    height: auto;
  }
  .auth-container-fluid {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Make sure the container takes up the full height of the viewport */
}
  .custom-text {
    font-size: 24px; /* Example size */
    font-family: 'Arial', sans-serif; /* Example font family */
    font-weight: bold; /* Make the text bold */
  }
  .right-section {
    width: 55%; /* Adjust as needed */
    background-color: #f0f0f0; /* Example background color */
    padding: 20px;
  }
  
  .left-section {
    width: 45%; /* Adjust as needed */
    background-color: #fff; /* Example background color */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically and horizontally center the content */
    height: 100vh; /* Make sure the right section takes full height */
  }
  .merchant-registration-title {
    font-family: 'Poppins', sans-serif;  /* Using Google Font Poppins */
    font-size: 2rem; /* Adjust size as necessary */
    color: #b49769;  /* Change to any color */
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  
  /* If you're using FontAwesome icons */
  .merchant-registration-title i {
    margin-right: 10px;  /* Space between the icon and text */
    font-size: 1.5rem;  /* Adjust icon size */
    color: #d4af37; /* Icon color for merchant registration */
  }
//   .wizard {
//   height: 600px; /* Increase the width of the wizard */
//   max-width: 1200px; /* Set a max-width to prevent it from stretching too far */
//   margin: 0 auto; /* Center the stepper horizontally */
// }
/* Fix the width of ng-select component */
ng-select {
  width: 380px; /* Set a fixed width here */
}

/* Fix the width of the ng-select container */
ng-select .ng-select-container {
  width: 100% !important; /* Ensure the container fills the width of ng-select */
}

/* Fix the width of the ng-select dropdown */
ng-select .ng-dropdown-panel {
  width: 250px !important; /* Set dropdown width same as ng-select */
  max-width: 100% !important; /* Prevent the dropdown from exceeding the width */
}
