
  <div class="auth-container-fluid d-flex">
    <div  class="left-section">
      <div #formElement class="d-flex flex-column justify-content-between" style="min-height: 100vh;">
       
        <div class="text-center my-5">
          <h2 class="merchant-registration-title">
            <i class="fas fa-store"></i> {{ 'Merchant SignUp' | translate }}
          </h2>
        </div>
          <div *ngIf="formError" class="alert alert-danger">{{ formError | translate}}</div>
    <div class="mt-4">
            <ng-stepper #cdkStepper [linear]="true" class="wizard" >
              <cdk-step [optional]="false" >
                <ng-template cdkStepLabel>
                  <span class="number">1.</span>
                  <span>{{'About Your Company' | translate}}</span>
                </ng-template>
                <section>
                  <form [formGroup]="signupForm">
                    <div class="row"> 
                      <div class="col-md-6 mb-3">
                        <div class="form-group ">
                        <label for="merchantName" >{{'Merchant Name'| translate}} <span class="text-danger">*</span></label>
                        <input type="text" id="merchantName" class="form-control" formControlName="merchantName" placeholder="{{ 'Enter merchant name' | translate }}" required>
                        <div *ngIf="signupForm.get('merchantName').touched && signupForm.get('merchantName').invalid" class="invalid-feedback d-block">
                          <span *ngIf="signupForm.get('merchantName').errors?.['required']">{{'Merchant Name is required'| translate}}.</span>
                        </div>  
                      </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="section_id">{{'Merchant Section' | translate}}<span  class="text-danger">*</span></label>
                          <ng-select  placeholder="{{'Select a section' | translate}}" [items]="sectionlist" bindLabel="translatedName" 
                          bindValue="id" id="section_id"  formControlName="section_id">
                          </ng-select>
                          <div *ngIf=" signupForm.get('section_id').touched &&  signupForm.get('section_id').invalid" class="invalid-feedback d-block">
                            <span *ngIf=" signupForm.get('section_id').errors?.['required']">{{'Section is required'| translate}}.</span>
                          </div>   
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group ">
                              <label for="country_id" >{{'Country' | translate}} <span class="text-danger">*</span></label>
                              <ng-select   id="country_id" placeholder="{{'Select the country' | translate}}" [items]="countrylist" bindLabel="translatedName" 
                              bindValue="id" formControlName="country_id" (change)="onChangeCountrySelection($event)" >
                             </ng-select>  
                              <div *ngIf="signupForm.get('country_id').touched && signupForm.get('country_id').invalid" class="invalid-feedback d-block">
                                <span *ngIf="signupForm.get('country_id').errors?.['required']">{{'Country is required'| translate}}.</span>
                              </div>   
                            </div>
                          </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group ">
                          <label for="website">{{'Merchant WebSite' | translate}}</label>
                          <input type="text" class="form-control" id="website" formControlName="website" placeholder="{{'Enter company email' | translate}}">
                        </div>
                      </div>
                      </div>
                                
                  </form>
                  <ul class="list-inline wizard d-flex justify-content-end mt-5">
                    <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext [disabled]="!isStepValid(0)">{{'Next' | translate}}</button></li>
                  </ul>
                </section>
                
              </cdk-step>
           
              <cdk-step [optional]="true" >
                <ng-template cdkStepLabel>
                  <span class="number">2.</span>
                  <span>{{'About You' | translate}}</span>
                </ng-template>
                <section>
                  <form [formGroup]="signupForm">
                    <div class="row">
                      <div class="col-md-3 mb-3">
                        <div class="form-group ">
                            <label for="f_name" >{{'First Name' | translate}} <span class="text-danger">*</span></label>
                            <input type="text" id="f_name" class="form-control" formControlName="f_name" placeholder="{{ 'Enter your First Name' | translate }}" required>
                            <div *ngIf="signupForm.get('f_name').touched && signupForm.get('f_name').invalid" class="invalid-feedback d-block">
                                <span *ngIf="signupForm.get('f_name').errors?.['required']">{{'First Name is required'| translate}}.</span>
                              </div>
                          </div>  
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="form-group ">
                            <label for="l_name" >{{'Last Name' | translate}} <span class="text-danger">*</span></label>
                            <input type="text" id="l_name" class="form-control" formControlName="l_name" placeholder="{{ 'Enter your Last Name ' | translate }}" required>
                            <div *ngIf="signupForm.get('f_name').touched && signupForm.get('f_name').invalid" class="invalid-feedback d-block">
                                <span *ngIf="signupForm.get('f_name').errors?.['required']">{{'Last Name is required'| translate}}.</span>
                              </div>
                          </div> 
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="phone" >{{'Phone Number' |  translate}} <span class="text-danger">*</span></label><br>
                         <app-phone-number
                         [initialPhoneNumber]="signupForm.get('phone').value"
                         *ngIf="signupForm"
                         [phoneCode]="phoneCode"
                         [inputId]="'phone'"
                         [placeholder]="'Enter Manager Phone' | translate"
                          (phoneNumberChanged)="onPhoneNumberChanged($event)" >
                        </app-phone-number>
                         <div *ngIf="signupForm.get('phone').touched && signupForm.get('phone').invalid" class="invalid-feedback d-block">
                          <span *ngIf="signupForm.get('phone').errors?.['required']">{{'Manager Phone Number is required'| translate}}.</span>
                        </div>   
                        </div>
                      </div>
                        
                      <div class="col-md-6 mb-3">
                        <div class="form-group ">
                          <label for="email">{{'Email' | translate}} <span class="text-danger">*</span></label>
                          <input type="email" id="email" class="form-control" formControlName="email" placeholder="{{ 'Enter the email' | translate }}" required>
                          <div *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid" class="invalid-feedback d-block">
                            <span *ngIf="signupForm.get('email').errors?.['required']">{{'Email is required'| translate}}.</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group ">
                            <label for="jobTitle" >{{'Job Title' | translate}} </label>
                            <input type="text" id="jobTitle" class="form-control" formControlName="jobTitle" placeholder="{{ 'Enter your Job Title ' | translate }}" required>
                       </div>
                      </div>    
                        <div class="col-md-6 mb-3">
                            <div class="form-group ">
                            <label for="password" >{{'Password' | translate}} <span class="text-danger">*</span></label>
                            <div class="input-group auth-pass-inputgroup">
                              <!-- Input Field -->
                              <input 
                                [type]="!fieldTextType ? 'text' : 'password'" 
                                id="password" 
                                class="form-control" 
                                placeholder="{{ 'Enter the Password' | translate }}" 
                                formControlName="password" 
                                required 
                              />
                        
                              <!-- Toggle Password Button -->
                              <button 
                                class="btn btn-light ms-0" 
                                type="button" 
                                id="password-addon" 
                                (click)="toggleFieldTextType()" 
                                (keydown.enter)="toggleFieldTextType()" 
                                (keydown.space)="toggleFieldTextType()"
                              >
                                <i 
                                  class="mdi" 
                                  [ngClass]="{
                                    'mdi-eye-outline': !fieldTextType, 
                                    'mdi-eye-off-outline': fieldTextType
                                  }"
                                ></i>
                              </button>
                              <div *ngIf="signupForm.get('password').touched && signupForm.get('password').invalid" class="invalid-feedback d-block">
                                <span *ngIf="signupForm.get('password').errors?.['required']">{{'Password is required'| translate}}.</span>
                                <span *ngIf="signupForm.get('password').errors?.['passwordStrength']">{{ 'Password must be at least 10 characters long, contain 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.' | translate }}</span>
                              </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group ">
                            <label for="confpassword" >{{'Confirm Password' | translate}} <span class="text-danger">*</span></label>
                            <div class="input-group auth-pass-inputgroup">
                              <input 
                              [type]="!confirmFieldTextType ? 'text' : 'password'" 
                              id="confpassword" 
                              class="form-control" 
                              placeholder="{{ 'Confirm Your New Password' | translate }}" 
                              formControlName="confpassword" 
                              required 
                            />
                      
                            <!-- Toggle Password Button -->
                            <button 
                              class="btn btn-light ms-0" 
                              type="button" 
                              id="password-addon" 
                              (click)="toggleConfirmFieldTextType()" 
                              (keydown.enter)="toggleConfirmFieldTextType()" 
                              (keydown.space)="toggleConfirmFieldTextType()"
                            >
                              <i 
                                class="mdi" 
                                [ngClass]="{
                                  'mdi-eye-outline': !confirmFieldTextType, 
                                  'mdi-eye-off-outline': confirmFieldTextType
                                }"
                              ></i>
                            </button>
                            <!-- <input [type]="!confirmFieldTextType ? 'text' : 'password'" id="confpassword" class="form-control" placeholder="{{ 'Confirm Your New Password' | translate }}" formControlName="confpassword" required>
                            <button class="btn btn-light ms-0" type="button" id="password-addon">
                              <i tabindex="0" class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !confirmFieldTextType, 'mdi-eye-outline': confirmFieldTextType}" (click)="toggleConfirmFieldTextType()" (keydown.enter)="toggleConfirmFieldTextType()" 
                              (keydown.space)="toggleConfirmFieldTextType()"></i>
                            </button> -->
                            <div *ngIf="signupForm.get('confpassword').touched && signupForm.get('confpassword').invalid" class="invalid-feedback d-block">
                              <span *ngIf="signupForm.get('confpassword').errors?.['required']">{{'Confirm password is required.' | translate}}</span>
                              <div *ngIf="passwordMatchError">{{ 'confirm_password_does_not_matched' | translate }}</div>
                            </div>
                            </div>
                          </div>
                        </div>
                              
                         

                  </div>
                  </form>
  
                  <ul class="list-inline wizard d-flex justify-content-end mt-5">
                    <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>{{'Previous' | translate}}</button></li>
                    <!-- <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext [disabled]="!isStepValid(1)" >{{'Finish' | translate}}</button></li> -->
                    <li class="next list-inline-item" aria-disabled="false">
                      <button class="btn btn-primary" [disabled]="!isStepValid(1)" (click)="onSubmit()" >{{'Finish' | translate}}</button></li>
                      <div id="elmLoader" class="loader" *ngIf="loading$ | async">
                        <div class="spinner-border text-primary avatar-sm" role="status">
                          <span class="visually-hidden">{{'Loading...' | translate}}</span>
                        </div>
                      </div>
                  </ul>
                </section>
                
              </cdk-step>
            </ng-stepper>
     </div>  
          <div class="text-center  mt-auto" style="font-size: 0.8rem; color: #6c757d;margin-bottom: 20px; ">
            <span>
              {{'Copyright' | translate}} © {{year}} {{'Project X1. All rights reserved.' | translate}}
            </span>
          </div>
    </div>
  </div>
  
    <!-- Right Section (Form) -->
    <div #rightsection class="right-section">
      
    </div>
  </div>
  