<div id="elmLoader" class="loader" *ngIf="loading$ | async">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">{{'Loading...' | translate}}</span>
  </div>
</div> 
<div #formElement class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <form [formGroup]="formCoupon"  >
                <div *ngIf="formError" class="alert alert-danger">{{ formError | translate }}</div>
                <div class="d-flex align-items-center justify-content-between mb-2">                 
                              
                  <div class="form-check form-switch form-switch-md ms-auto">
                    <label class="form-check-label" for="SwitchCheckSizelg1">{{(formCoupon.get('status')?.value === 'active')? 'Active': 'InActive'}}</label>
                    <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg1" formControlName="status"  [checked]="(formCoupon.get('status').value === 'active')" (change)="onToggle($event)">
                  </div>
               
                </div>   
                <div class="row">
                      <div class="col-md-6 mb-3">
                          <label for="name">{{'Name_coupon'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <input class="form-control" id="name" formControlName="name" type="text" [readonly]="type==='view'"/>
                          <div *ngIf="formCoupon.get('name').invalid && formCoupon.get('name').touched" class="text-danger">
                              {{'Name is required'|translate}}
                          </div>
                      </div>
                     
                      <div class="col-md-6 mb-3">
                          <label for="name_ar">{{'Name_coupon_arabic'|translate}}</label>
                          <input class="form-control" id="name_ar" formControlName="name_ar" type="text" [readonly]="type==='view'"/>
                          
                      </div>

                      <div class="col-md-6 mb-3">
                          <label for="termsAndConditions">{{'Terms and Conditions'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <textarea class="form-control" id="termsAndConditions" formControlName="termsAndConditions" rows="5" [readonly]="type==='view'"></textarea>
                          <div *ngIf="formCoupon.get('termsAndConditions').invalid && formCoupon.get('termsAndConditions').touched" class="text-danger">
                              {{'Terms and Conditions are required'|translate}}
                          </div>
                      </div>

                      <div class="col-md-6 mb-3">
                          <label for="termsAndConditions_ar">{{'Terms and Conditions in arabic'|translate}}</label>
                          <textarea class="form-control" id="termsAndConditions_ar" formControlName="termsAndConditions_ar" rows="5" [readonly]="type==='view'"></textarea>
                          
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="description">{{'Description'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <textarea class="form-control" id="description" formControlName="description" rows="5" [readonly]="type==='view'"></textarea>
                        <div *ngIf="formCoupon.get('description').invalid && formCoupon.get('description').touched" class="text-danger">
                            {{'Description is required'|translate}}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="description_ar">{{'Description in arabic'|translate}}</label>
                      <textarea class="form-control" id="description_ar" formControlName="description_ar" rows="5" [readonly]="type==='view'"></textarea>
                      
                  </div>
                   
                       <div *ngIf="type === 'edit'" class="col-md-6 mb-3">
                          <label for="codeCoupon">{{'Coupon Code'|translate}}</label>
                          <input class="form-control" id="codeCoupon" formControlName="codeCoupon" type="text" readonly />
                      </div> 
                    
                      <div *ngIf="currentRole === 'Admin'" class="col-md-6 mb-3">
                        <label for="company_id">{{'Merchant_Name'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <ng-select [readonly]="type === 'view'" id="company_id"  placeholder="{{'Select_the_merchant' |translate}}" [items]="merchantList" bindLabel="translatedName" 
                        bindValue="id"  formControlName="company_id" (change)="onChangeMerchantSelection($event)">
                        </ng-select>
                        <div *ngIf="formCoupon.get('company_id').invalid && formCoupon.get('company_id').touched" class="text-danger">
                          {{'Merchant Name is required'|translate}}
                        </div>
                      </div>
                    
                      <div class="col-md-6 mb-3">
                        <label for="stores">{{'Stores'|translate}}</label>
                        <ng-select
                          [readonly]="type === 'view'"
                          id="stores"
                          [placeholder]="'Select_Stores'| translate"
                          [items]="storeList"
                          bindLabel="translatedName" 
                          bindValue="id"
                          formControlName="stores"
                          [multiple] = "true"
                          >
                        </ng-select>
                        <!-- <div *ngIf="isLoading" class="text-info">Loading stores...</div> -->
                        <!-- <div *ngIf="formCoupon.get('stores').invalid && formCoupon.get('stores').touched" class="text-danger">
                          {{'Store is required'|translate}}
                        </div> -->
                      </div>
             
                      <div class="col-md-6 mb-3">
                        <label for="startDateCoupon">{{'Start_Date'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input bsDatepicker class="form-control" id="startDateCoupon" placeholder="yyyy-mm-dd" formControlName="startDateCoupon" [bsConfig]="bsConfig"  [readonly]="type==='view'"/>
                        <div *ngIf="formCoupon.get('startDateCoupon').invalid && formCoupon.get('startDateCoupon').touched" class="text-danger">
                          {{'Start Date is required'|translate}}
                        </div>
                      </div>
                    
                      <div class="col-md-6 mb-3">
                        <label for="endDateCoupon">{{'End Date'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                        <input bsDatepicker class="form-control" id="endDateCoupon" placeholder="yyyy-mm-dd" formControlName="endDateCoupon" [bsConfig]="bsConfig" [readonly]="type==='view'"/>
                        <div *ngIf="formCoupon.get('endDateCoupon').invalid && formCoupon.get('endDateCoupon').touched" class="text-danger">
                          {{'End Date is required'|translate}}
                        </div>
                        <div *ngIf="formCoupon.errors?.invalidDate" class="text-danger">
                          {{'Both dates must be greater than or equal to the current date'|translate}}.
                        </div>
                        <div *ngIf="formCoupon.errors?.dateMismatch" class="text-danger">
                          {{'Start Date must be before End Date'|translate}}.
                        </div>
                      </div>
                <div class="col-md-6 mb-3">
                  <label for="quantity">{{'Quantity'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                  <input class="form-control" id="quantity" formControlName="quantity" type="number" [readonly]="type==='view'"/>
                  <div *ngIf="formCoupon.get('quantity').invalid && formCoupon.get('quantity').touched" class="text-danger">
                    {{'Quantity is required'|translate}}
                  </div>
                </div>
                <!-- <div class="col-md-6 mb-3">
                  <label for="nbr_of_use">{{'Number Of Use for Customer'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                  <input class="form-control" id="nbr_of_use" formControlName="nbr_of_use" type="number" [readonly]="type==='view'"/>
                  <div *ngIf="formCoupon.get('nbr_of_use').invalid && formCoupon.get('nbr_of_use').touched" class="text-danger">
                    {{'Number of use is required'|translate}}
                  </div>
                </div> -->
                <div *ngIf="currentRole === 'Admin'" class="col-md-6 mb-3">
                  <label for="contractRepName">{{'Contract Representative Name'|translate}}</label>
                  <input class="form-control" id="contractRepName" formControlName="contractRepName" type="text" [readonly]="type==='view'"/>
                  <!-- <div *ngIf="formCoupon.get('contractRepName').invalid && formCoupon.get('contractRepName').touched">
                    {{'Contract Representative Name is required'|translate}}
                  </div> -->
                </div>
                          
              
                <div class="col-md-12 mb-3">
                  <label for="couponType">{{'Coupon Type'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                  <div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" formControlName="couponType" value="free" checked [class.readonly]="type==='view'"/>
                        {{'Free'|translate}}
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" formControlName="couponType" value="discountPercent" [class.readonly]="type==='view'"/>
                        {{'Discount Percent'|translate}}
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" formControlName="couponType" value="discountAmount" [class.readonly]="type==='view'"/>
                        {{'Discount Amount'|translate}}
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" formControlName="couponType" value="servicePrice" [class.readonly]="type==='view'" />
                        {{'Service Price'|translate}}
                      </label>
                    </div>
                  </div>
                  <div *ngIf="formCoupon.get('couponType').invalid && formCoupon.get('couponType').touched" class="text-danger">
                    {{'Coupon Type is required'|translate}}
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="sectionOrderAppearance">{{'Section_Order_Appearance'| translate}}</label>
                    <input class="form-control" id="sectionOrderAppearance" formControlName="sectionOrderAppearance" type="number" [readonly]="type==='view'"/>

                     
                   </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="categoryOrderAppearance">{{'Category_Order_Appearance'| translate}}</label>
                    <input class="form-control" id="categoryOrderAppearance" formControlName="categoryOrderAppearance" type="number" [readonly]="type==='view'"/>
                 
                   </div>
                </div>
              
                <div class="col-md-6 mb-3">
                  <label for="couponValueBeforeDiscount">{{'Value Before Discount'|translate}}</label>
                  <input  class="form-control" id="couponValueBeforeDiscount" formControlName="couponValueBeforeDiscount" type="number" [readonly]="type==='view'"/>
                  <!-- <div *ngIf="formCoupon.get('couponValueBeforeDiscount').invalid && formCoupon.get('couponValueBeforeDiscount').touched">
                    {{'Value Before Discount is required'|translate}}
                  </div> -->
                </div>
              
                <div class="col-md-6 mb-3">
                  <label for="couponValueAfterDiscount">{{'Value After Discount'|translate}}</label>
                  <input class="form-control" id="couponValueAfterDiscount" formControlName="couponValueAfterDiscount" type="text" [readonly]="type==='view'"/>
                  <!-- <div *ngIf="formCoupon.get('couponValueAfterDiscount').invalid && formCoupon.get('couponValueAfterDiscount').touched">
                    {{'Value After Discount is required'|translate}}
                  </div> -->
                </div>
              
                <div class="col-md-6 mb-3">
                  <label for="paymentDiscountRate">{{'Payment Discount Rate'|translate}}</label>
                  <input class="form-control" id="paymentDiscountRate" formControlName="paymentDiscountRate" type="text" [readonly]="type==='view'"/>
                  <!-- <div *ngIf="formCoupon.get('paymentDiscountRate').invalid && formCoupon.get('paymentDiscountRate').touched">
                    {{'Payment Discount Rate is required'|translate}}
                  </div> -->
                </div>
                <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="couponLogo">{{'Upload Coupon Logo'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                  <app-image-upload [id]="'couponLogo'" [type]="'logo'" [label]="'Upload Coupon Logo' | translate" [existantImage]="existantcouponLogo" [filename]="fileName" [alt]="'Coupon Logo'" [disabled]="type ==='view'" (logoUploaded)="uploadCouponLogo($event)"></app-image-upload>
                  <div *ngIf="formCoupon.get('couponLogo').invalid && formCoupon.get('couponLogo').touched" class="text-danger">
                    {{'Coupon Logo is required'|translate}}
                  </div>
                </div>
                
                </div>
                <div class="col-12  mt-4">
                  <div class="d-flex justify-content-end">
                    <ng-container *ngIf="type ==='view'; else editModeButtons">
                      <button type="button" class="btn btn-success" (click)="toggleViewMode()">{{ 'Go_Back' | translate }}</button>
                    </ng-container>
                    <ng-template #editModeButtons>
                      <button type="button" id="cancel-btn" class="btn btn-outline-secondary me-2" (click)="onCancel()">{{'Cancel'|translate}}</button>
                      <button type="submit" class="btn btn-success" (click)="onSubmit()"  > {{ (type === 'create' ? 'Add coupon' : 'update_coupon') | translate }}
                      </button>
                      <div id="elmLoader" class="loader" *ngIf="loading$ | async">
                        <div class="spinner-border text-primary avatar-sm" role="status">
                          <span class="visually-hidden">{{'Loading...' | translate}}</span>
                        </div>
                      </div>                     
                     </ng-template>
                  </div>
                </div>
                </div>
              </form>
          </div>
      </div>
  </div> <!-- end col -->
</div>

