

.container {
  display: flex; /* Flexbox to split the screen */
  height: 100vh; /* Full height of the viewport */
}

.right-section {
  width: 60%; /* Adjust as needed */
  background-color: #f0f0f0; /* Example background color */
  padding: 20px;
}

.left-section {
  width: 40%; /* Adjust as needed */
  background-color: #fff; /* Example background color */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically and horizontally center the content */
  height: 100vh; /* Make sure the right section takes full height */
}

.left-section .form-container {
  margin-top: 20% ;
  padding:10%;
  width: 100%; /* Adjust the form width as needed */
}
.btn-brown{
  background-color:  #b49769;
  color: white

}
.copyright-text {
  font-size: 0.8rem; /* Smaller font size for copyright */
  margin-bottom: 10px;
  color: #6c757d;    /* Lighter gray color */
  display: block;
  margin-top: 50px;   /* Space from the form above */
}