<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div *ngIf="!isloading" class="auth-container-fluid d-flex">
  <!-- Left Section (Background) -->
  <div  class="left-section d-flex flex-column">
    <!-- This can be an image, color, or any content you want on the left side -->
    <!-- <button class="btn btn-primary  rounded" (click)="toggleRtl()">Toggle RTL/LTR</button> -->
    <div class="form-container">
      <div class="text-center">
        <h2 class="sign-in-title">
          <i class="fas fa-user-lock"></i> {{ 'Sign In' | translate }}
        </h2>
      </div>
      <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        @if(error){
        <alert type="danger" [dismissible]="false">{{ error | translate }}</alert>
        }

        <div class="mb-3">
          <label for="email">{{'Email'| translate}}</label>
          <input type="email" formControlName="email" class="form-control" id="email" placeholder="{{'Email'| translate}}" [ngClass]="{ 'is-invalid': submitted && f?.email.errors }" />
          @if(submitted && f?.email.errors){
          <div class="invalid-feedback">
            @if(f?.email.errors.required){
            <div>{{'Email is required'| translate}}</div>
            }@if(f?.email.errors.email){
            <div>{{'Email must be a valid email address'| translate}}</div>
            }
          </div>
          }
        </div>

        <div class="mb-3">
          <label for="password">{{'Password'| translate}}</label>
          <div class="input-group auth-pass-inputgroup">
            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password" placeholder="{{'Enter the Password'|translate}}" [ngClass]="{ 'is-invalid': submitted && f?.password.errors }">

            <button class="btn btn-light ms-0" type="button" id="password-addon">
              <i tabindex="0" class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType}" (click)="toggleFieldTextType()"></i>
            </button>
            @if(submitted && f?.password.errors){
            <div class="invalid-feedback">
              @if(f?.password.errors.required){
              <span>{{'Password is required'| translate}}</span>
              }
            </div>}
          </div>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="remember-check">
          <label class="form-check-label" for="remember-check">
            {{'Remember me' | translate}}
          </label>
        </div>

       
        
        <div class="mt-5 d-grid">
          <button class="btn btn-gold mb-2" type="submit">{{'Sign In'| translate}}</button>
          <button routerLink="/auth/register" class="btn btn-brown ">{{'Merchant SignUp'| translate}}</button>
          <div id="elmLoader" class="loader" *ngIf="loading$ | async">
            <div class="spinner-border text-primary avatar-sm" role="status">
              <span class="visually-hidden">{{'Loading...' | translate}}</span>
            </div>
          </div> 
        </div>
       
        <div class="mt-4 text-center">
          <a routerLink="/auth/reset-password" class="text-muted"><i class="mdi mdi-lock mr-1"></i> {{'Forgot your password?' | translate}}</a>
        </div>
      </form>
    
    </div>
    <div class="mt-auto text-center">
      <span class="copyright-text">{{'Copyright' | translate}} © {{year}} {{'Project X1. All rights reserved.' | translate}} </span>
  </div>
  </div>

  <!-- Right Section (Form) -->
  <div #rightsection class="right-section">
    <!-- Button to toggle language direction for testing -->
   
  </div>
</div>
