.footer {
    padding: 20px calc(#{$grid-gutter-width} * 0.75);
    position: relative;  // Change from absolute to relative to avoid fixing it in the viewport
    right: 0;
    color: var(--#{$prefix}footer-color);
    left: 0;
    width: 100%;
    background-color: var(--#{$prefix}footer-bg);
    text-align: center;  // Center the content

    // Ensure it doesn't overlap content if the page is short
    margin-top: auto;  // This will push the footer to the bottom in flexbox layouts

    @media (max-width: 991.98px) {
        left: 0;
    }
}

// Vertical collapse layout
.vertical-collpsed {
    .footer {
        left: $sidebar-collapsed-width;

        @media (max-width: 991.98px) {
            left: 0;
        }
    }
}

// For horizontal layout
body[data-layout="horizontal"] {
    .footer {
        left: 0 !important;  // Override any previous left settings
    }  
}
