<div class="container-fluid">

    <app-custom-table
      [pageTitle] = "'Logs'| translate"
      [columns]="columns"
      [viewButtonLink]="'/private/logs/view'"
      [viewButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Role, claimValue: [Permission.All,Permission.View]}]"
      [ArrayData]="originalArray"
      [totalItems]="(totalItems$ | async)"
      [actiondatePicker] = "true"
      [searchPlaceholder]="searchPlaceholder"
      (onsearch)="onSearchEvent($event)"
      (onFilter)="onFilterEvent($event)"
      (onPageSizeChanged)="onPageSizeChanged($event)"
      (pageChanged)="onPageChanged($event)"
      >
</app-custom-table>
   
  </div>

  
  <div id="elmLoader" class="loader" *ngIf="loading$ | async">
    <div class="spinner-border text-primary avatar-sm" role="status">
      <span class="visually-hidden">{{'Loading...' | translate}}</span>
    </div>
  </div>    
  
  
  