.btn-gold {
    background-color: #d4af37; /* gold color */
    border-color: #d4af37;
    color: #333; /* optional: set text color to dark gray */
  }
  
  .logo-row {
    margin-bottom: 40px; /* adjust the value to your liking */
    margin-top: 20px;
  }
  .card {
    //border: 5px solid #d4af37; /* add a 1px solid border with a light gray color */
    border-radius: 20px; /* add a 10px border radius to give it a rounded corner */
    padding: 20px; /* add some padding to create space between the border and the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle box shadow to give it some depth */
  }
  .card-body{
    margin-top: 20px;
  } 
  
/* Make sure the body and html take up the full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Make the account pages container take up the full available height */
.account-pages {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
}

/* Allow the main content to grow and push the footer down */
.container {
  margin-top: 30px; /* Pushes the copyright text to the bottom */

  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Makes sure this takes up all available space */
  max-width: 1400px; /* or any other width you prefer */
    max-height: 800px;
}

/* Position the copyright text at the bottom */
.text-center {
  margin-top: auto; /* Pushes the copyright text to the bottom */
  margin-bottom: 20px; /* Add margin below the copyright text */
}
