
<div  class="account-pages">
    <div class="container">
        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="text-center mb-5 text-muted">
                       
                        <div class="col-12 text-center">
                            <img src="assets/images/LogoInfinite/logo.svg" alt="" class="img-fluid">
                          </div>
                        
                </div>
            </div>
        </div>
        <div *ngIf="loading$ | async" class="d-flex justify-content-center align-items-center">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">{{ 'Loading...' | translate }}</span>
            </div>
          </div>
      
        <!-- end row -->
        <div *ngIf="(loading$ | async) === false" class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    
                    <div class="card-body"> 
                        
                        <div class="p-2">
                            <div class="text-center">

                                <div class="avatar-md mx-auto">
                                    <div class="avatar-title rounded-circle bg-light">
                                        <i class="bx bx-mail-send h1 mb-0 text-primary"></i>
                                    </div>
                                </div>
                                <div class="p-2 mt-4">
                                    <h2>{{(message | async)}} !</h2>
                                    <div class="mt-4">
                                        <a routerLink="/home" class="btn btn-gold me-2">{{'Back to Home'| translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="mt-5 text-center">
            
                    <p class="text-white">© {{year}} Infinite. </p>
                  </div>

            </div>
        </div>
    </div>
</div>