<div class="container-fluid">

  

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="invoice-title">
            <h4 class="float-end font-size-16">Invoice # {{Invoice?.id}}</h4>
            <div class="auth-logo mb-4">
              <img src="assets/images/Logo_SM/smartlogiq_logo.png" alt="logo" class="auth-logo-dark" height="20"/>
              <!-- <img src="assets/images/logo-light.png" alt="logo" class="auth-logo-light" height="20"/> -->
          </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <address>
                <strong>Billed To:</strong><br>
                {{Invoice?.companies.user.translation_data[0]?.f_name}} {{Invoice?.companies.user.translation_data[0]?.l_name}}<br>
                {{Invoice?.companies.street}}<br>
                {{Invoice?.companies.building_floor}}<br>
              </address>
            </div>
            <div class="col-6 text-sm-end">
              <address>
                <strong>Billed By:</strong><br>
                {{Invoice?.user.translation_data[0]?.f_name}}{{Invoice?.user.translation_data[0]?.l_name}}<br>
                {{Invoice?.user.email}}<br>
              </address>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mt-3">
              <address>
                <strong>Payment Method:</strong><br>
                Visa ending **** 4242<br>
                {{Invoice?.companies.companyEmail}}
              </address>
            </div>
            <div class="col-6 mt-3 text-sm-end">
              <address>
                <strong>Order Date:</strong><br>
                {{Invoice?.createdAt | date: 'MMM d, yyyy'}}<br><br>
              </address>
            </div>
          </div>
          <div class="py-2 mt-3">
            <h3 class="font-size-15 fw-bold">Invoice Summary</h3>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 70px;">No.</th>
                  <th>Item</th>
                  <th class="text-end">Description</th>
                  <th class="text-end">Unit Price</th>

                  <th class="text-end">Quantity </th>
                  <th class="text-end">Amount</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of Invoice?.orderItems; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.offers?.translation_data[0]?.name}}</td>
                  <td class="text-end">{{item.offers?.translation_data[0]?.description}}</td>
                  <td class="text-end">£{{item.offers?.price}}</td>
                  <td class="text-end">{{item.quantity}}</td>
                  <td class="text-end">£{{item.quantity*item.offers?.price}}</td>
                </tr>

                
                <tr>
                  <td colspan="5" class="text-end">Sub Total</td>
                  <td class="text-end">£{{Invoice?.totalAmount}}</td>
                </tr>
                <tr>
                  <td colspan="5" class="border-0 text-end">
                    <strong>Shipping</strong></td>
                  <td class="border-0 text-end">£0.00</td>
                </tr>
                <tr>
                  <td colspan="5" class="border-0 text-end">
                    <strong>Total</strong></td>
                  <td class="border-0 text-end">
                    <h4 class="m-0">£{{Invoice?.totalAmount}}</h4>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-print-none">
            <div class="float-end">
              <a [href]="Invoice?.pdf" class="btn btn-success me-1" target="_blank"><i class="fa fa-download"></i></a>
              <a href="javascript:window.print()" class="btn btn-success"><i class="fa fa-print"></i></a>
              <a [routerLink]="['/private/invoices/list', parentRoute]" class="btn btn-primary w-md ms-1">Ok</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->