 <!-- [addButtonLink] ="'/private/orders/create'" -->
<div class="container-fluid">

    <app-custom-table
      [pageTitle] = "'Orders'| translate"
      [addButtonLabel] ="'New Order'| translate"
      [addButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Role, claimValue: [Permission.All,Permission.Create]}]"
      [columns]="columns"
      [viewButtonLink]="'/private/orders/view'"
      [viewButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Role, claimValue: [Permission.All,Permission.View]}]"
      [editButtonLink]="'/private/orders/edit'"
      [editButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Role, claimValue: [Permission.All,Permission.Update]}]"
      [deleteButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Role, claimValue: [Permission.All,Permission.Delete]}]"
      [ArrayData]="originalArray"
      [actiondatePicker] = "true"
      [noActionColumn] = "true"
      [statusList] = "statusList"
      [merchantList] = "merchantList"
      [searchPlaceholder]="searchPlaceholder"
      [totalItems]="(totalItems$ | async)"
      (onPageSizeChanged)="onPageSizeChanged($event)"
      (onsearch)="onSearchEvent($event)"
      (onFilter)="onFilterEvent($event)"
      (pageChanged)="onPageChanged($event)"
      (onChangeEvent)="onChangeEvent($event)"
      (onDelete)="onDelete($event)"
      (onViewDetail)="onViewDetail($event)">
</app-custom-table>
   
  </div>

  
  <div id="elmLoader" class="loader" *ngIf="loading$ | async">
    <div class="spinner-border text-primary avatar-sm" role="status">
      <span class="visually-hidden">{{'Loading...' | translate}}</span>
    </div>
  </div>    
  
  
  <ng-template  #ViewContent role="document" let-modal>
    <div class="modal-header" >
      <h5 class="modal-title mt-0" id="orderdetailsModalLabel">Order Details</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-between mb-2">
        <p id="orderlist-overview" class="m-0">
          Order ID:
          <span class="list-id text-primary">#{{Order?.id}}</span>
        </p>
        <p id="orderstatus">
          Order Status:
          <span
          class="badge"
          [ngClass]="{
            'bg-success': Order?.status === 'paid',
            'bg-danger': Order?.status === 'unpaid' 
          }">
          {{Order?.status}}
      </span>
        </p>
      </div>
      <p class="mb-4">
        Billing Name:
        <span class="orderlist-customer text-primary">{{Order?.user?.translation_data[0]?.f_name}} {{Order?.user?.translation_data[0]?.l_name}}</span>
      </p>
      <div class="table-responsive">
        <table class="table table-centered table-nowrap">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of Order?.items">
              <th scope="row">
                <div>
                  <img [src]="item.offers.image? item.offers?.image : 'assets/images/product/product-dummy.png'" alt class="avatar-sm" />
                </div>
              </th>
              <td>
                <div>
                  <h5 class="text-truncate font-size-14">{{item.offers?.translation_data[0]?.name}}</h5>
                  <p class="text-muted mb-0">£ {{item.offers.price}} x {{item.quantity}}</p>
                </div>
              </td>
              <td>£ {{item.offers.price * item.quantity}}</td>
            </tr>
            
            <tr>
              <td colspan="2">
                <h6 class="m-0">Total:</h6>
              </td>
              <td>£{{Order?.totalAmount}}</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" data-bs-dismiss="modal"(click)="modalRef?.hide()">Close</button>
    </div>
  </ng-template>
  