<div id="elmLoader" class="loader" *ngIf="loading$ | async">
  <div class="spinner-border text-primary avatar-sm" role="status">
  <span class="visually-hidden">{{'Loading...' | translate}}</span>
  </div>
</div> 
    
<div class="modal-header">
  <h5  class="modal-title mt-0">{{title}}</h5>
  <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close" (click)="onClose()">
  </button>
</div>

<div class="modal-body">
<div #formElement class="row">
     
        <form [formGroup]="companyForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="name">Company Name<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
              <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter Company Name" />
              <div *ngIf="companyForm.get('name').invalid && companyForm.get('name').touched" class="text-danger">
                Company name is required.
              </div>
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="email">Email<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter Email" />
              <div *ngIf="companyForm.get('email').invalid && companyForm.get('email').touched" class="text-danger">
                A valid email is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="tel_number">Phone Number</label>
              <app-phone-number
              [disabled]="type === 'view'"
              [phoneCode]="tel_country_dial_code_id"
              *ngIf="companyForm "
              [initialPhoneNumber]="companyForm.get('tel_number')?.value"
              [inputId]="'tel_number'"
              [placeholder]="'Enter company phone' | translate"
               (phoneNumberChanged)="onCompanyPhoneNumberChanged($event)" >
             </app-phone-number>
              <div *ngIf="companyForm.get('tel_number').invalid && companyForm.get('tel_number').touched" class="text-danger">
                Phone number is required.
              </div>
            </div>
            

            <div class="col-md-6 mb-3">
              <label for="sector">Sector<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
              <input type="text" id="sector" formControlName="sector" class="form-control" placeholder="Enter Sector" />
              <div *ngIf="companyForm.get('sector').invalid && companyForm.get('sector').touched" class="text-danger">
                Sector is required.
              </div>
            
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="web_url">Website</label>
              <input type="text" id="web_url" formControlName="web_url" class="form-control" placeholder="Enter Website" />
              
            </div>
  
  
            <div class="col-md-6 mb-3">
              <label for="address_building">Building</label>
              <input type="text" id="address_building" formControlName="address_building" class="form-control" placeholder="Enter Building" />
              
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="address_street">Street</label>
              <input type="text" id="address_street" formControlName="address_street" class="form-control" placeholder="Enter Street" />
              
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="address_town">Town</label>
              <input type="text" id="address_town" formControlName="address_town" class="form-control" placeholder="Enter Town" />
              
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="address_country_id">Country</label>
              <ng-select [items]="countries" bindLabel="translatedName" placeholder="{{'Select_the_Country' | translate}}" bindValue="id" id="address_country_id" formControlName="address_country_id" (change)="onCountryChange($event)"></ng-select>
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="address_city">City</label>
              <input type="text" id="address_city" formControlName="address_city" class="form-control" placeholder="Enter City" />
              
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="address_postcode">Postcode</label>
              <input type="text" id="address_postcode" formControlName="address_postcode" class="form-control" placeholder="Enter Postcode" />
            
            </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Cancel</button>
            <button type="submit" class="btn btn-primary"  (click)="onSubmit()">{{ (type === 'create' ? 'Add Company' : 'Update Company') | translate }}</button>
          </div>
        </div>
        </form>
      </div>
      <!-- end modal body -->
</div>
    <!-- end modal-content -->
  <!-- end modal-dialog -->
  <!-- end row -->
