.account-pages {
  position: absolute; /* Allows it to cover the full viewport */
  top: 0;
  left: 0; /* Aligns the div to the left side of the viewport */
  width: 80%; /* Adjust width as needed (e.g., 50% of the viewport width) */
  height: 100vh; /* Full height of the viewport */
  
  display: flex; /* Allows for vertical and horizontal alignment */
  align-items: center; /* Vertically center the content */
  justify-content: flex-start; /* Align content to the left */
  
  padding-left: 30px; /* Optional: Padding from the left edge */
  padding-right: 30px;
}
.my-4 {
  margin: 1.5rem 0; /* Standard margin for the 'my-4' class */
}

.pt-sm-4 {
  padding-top: 1.5rem; /* Padding on top for smaller screens (sm breakpoint) */}

.btn-gold {
    background-color: #d4af37; /* gold color */
    border-color: #d4af37;
    color: #333; /* optional: set text color to dark gray */
  }
  .container {
    max-width: 1400px; /* or any other width you prefer */
    max-height: 800px;
    
  }
  .logo-row {
    margin-bottom: 40px; /* adjust the value to your liking */
    margin-top: 20px;
  }
  .card {
   // border: 5px solid #ccc; /* add a 1px solid border with a light gray color */
    border-radius: 20px; /* add a 10px border radius to give it a rounded corner */
    padding: 20px; /* add some padding to create space between the border and the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle box shadow to give it some depth */
  }
  .card-body{
    margin-top: 20px;
  } 
