<div class="image-upload-container dashed-border " 
>
  <label class="flex-center"  >
    <input
      type="file"
      [id]="id"
      [disabled]="disabled"
      (change)="fileChange($event)"
    />
    <div class="flex-center">
      <em class="fas fa-cloud-upload-alt text-gray-600 fs-30"></em>
      <div>
        <p *ngIf="selectedFile || existantImage; else defaultText" class="selected-file">
            <img [src]="selectedFile || existantImage" [alt]="alt" class="image-upload-container img" >
        </p>
        <ng-template #defaultText>
          <p class="mt-2 text-sm font-medium fs-15">
            {{ label }}
          </p>
        </ng-template>
      </div>
    </div>
  </label>
</div>
