<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-sm-6">
                {{year}} © Infinite.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                Developed by Infinite.
                </div>
            </div> -->
        <span >{{'Copyright' | translate}} © {{year}} {{'Project X1. All rights reserved.' | translate}} </span>

        </div>
    </div>
</footer>
