 
    <div class="modal-header">
      <h5  class="modal-title mt-0">{{title}}</h5>
      <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close" (click)="onClose()">
      </button>
    </div>
    
    <div class="modal-body">
    <div #formElement class="row">
         
            <form [formGroup]="contactForm">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="first_name">First Name<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                  <input type="text" id="first_name" formControlName="first_name" class="form-control" placeholder="Enter First Name" />
                  <div *ngIf="contactForm.get('first_name').invalid && contactForm.get('first_name').touched" class="text-danger">
                    First name is required.
                  </div>
                </div>
      
                <div class="col-md-6 mb-3">
                  <label for="last_name">Last Name<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                  <input type="text" id="last_name" formControlName="last_name" class="form-control" placeholder="Enter Last Name" />
                  <div *ngIf="contactForm.get('last_name').invalid && contactForm.get('last_name').touched" class="text-danger">
                    Last name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="email">Email<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                  <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter Email" />
                  <div *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched" class="text-danger">
                    A valid email is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="mob_tel_number">Mobile</label>
                  <app-phone-number
                  [disabled]="type === 'view'"
                  [phoneCode]="mob_tel_country_dial_code_id"
                  *ngIf="contactForm "
                  [initialPhoneNumber]="contactForm.get('mob_tel_number')?.value"
                  [inputId]="'mob_tel_number'"
                  [placeholder]="'Enter contact phone' | translate"
                   (phoneNumberChanged)="onContactPhoneNumberChanged($event)" >
                 </app-phone-number>
                  <div *ngIf="contactForm.get('mob_tel_number').invalid && contactForm.get('mob_tel_number').touched" class="text-danger">
                    Mobile number is required.
                  </div>
                </div>
                
      
                <div class="col-md-6 mb-3">
                  <label for="job_title">Job Title<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                  <input type="text" id="job_title" formControlName="job_title" class="form-control" placeholder="Enter Job Title" />
                  <div *ngIf="contactForm.get('job_title').invalid && contactForm.get('job_title').touched" class="text-danger">
                    Job title is required.
                  </div>
                </div>
      
                <div class="col-md-6 mb-3">
                  <label for="company_id">Company<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                  <ng-select [readonly]="type === 'view'" placeholder="{{'Select the company' | translate}}" [items]="companies" bindLabel="translatedName" 
                    bindValue="id" id="company_id" formControlName="company_id" >
                    </ng-select>
                  <div *ngIf="contactForm.get('company_id').invalid && contactForm.get('company_id').touched" class="text-danger">
                    Company is required.
                  </div>
                </div>
      
                <div class="col-md-6 mb-3">
                  <label for="contact_type">Contact Type</label>
                  <input type="text" id="contact_type" formControlName="contact_type" class="form-control" placeholder="Enter Contact Type" />
                  
                </div>
      
               
      
                <div class="col-md-6 mb-3">
                  <label for="tel_number">Telephone</label>
                  <app-phone-number
                  [disabled]="type === 'view'"
                  [phoneCode]="tel_country_dial_code_id"
                  *ngIf="contactForm "
                  [initialPhoneNumber]="contactForm.get('tel_number')?.value"
                  [inputId]="'tel_number'"
                  [placeholder]="'Enter contact telephone' | translate"
                   (phoneNumberChanged)="onContactTelephoneNumberChanged($event)" >
                 </app-phone-number>
                  
                </div>
      
                <div class="col-md-6 mb-3">
                  <label for="address_building">Building</label>
                  <input type="text" id="address_building" formControlName="address_building" class="form-control" placeholder="Enter Building" />
                  
                </div>
      
                <div class="col-md-6 mb-3">
                  <label for="address_street">Street</label>
                  <input type="text" id="address_street" formControlName="address_street" class="form-control" placeholder="Enter Street" />
                  
                </div>
      
                <div class="col-md-6 mb-3">
                  <label for="address_town">Town</label>
                  <input type="text" id="address_town" formControlName="address_town" class="form-control" placeholder="Enter Town" />
                  
                </div>
      
                <div class="col-md-6 mb-3">
                  <label for="address_county">Country</label>
                  <input type="text" id="address_county" formControlName="address_county" class="form-control" placeholder="Enter County" />
                  
                </div>
      
                <div class="col-md-6 mb-3">
                  <label for="address_city">City</label>
                  <input type="text" id="address_city" formControlName="address_city" class="form-control" placeholder="Enter City" />
                  
                </div>
      
                <div class="col-md-6 mb-3">
                  <label for="address_postcode">Postcode</label>
                  <input type="text" id="address_postcode" formControlName="address_postcode" class="form-control" placeholder="Enter Postcode" />
                  
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Cancel</button>
                <button type="submit" class="btn btn-primary"  (click)="onSubmit()">{{ (type === 'create' ? 'Add Contact' : 'Update Contact') | translate }}</button>
              </div>
            </div>
            </form>
          </div>
          <!-- end modal body -->
    </div>
        <!-- end modal-content -->
      <!-- end modal-dialog -->
      <!-- end row -->
    