<div id="elmLoader" class="loader" *ngIf="loading$ | async">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">{{'Loading...' | translate}}</span>
  </div>
</div> 

<div #formElement class="row">
    <div class="col-19">
        <div class="card">
            <div class="card-body ">
              <form  [formGroup]="storeForm"  class="m-4">
                <div *ngIf="formError" class="alert alert-danger">{{ formError | translate }}</div>
                <div class="row d-flex justify-content-end">
                  <div class="col-12 mb-3 text-end">
                    <div class="form-group">
                      <ui-switch
                        color="##343a40"
                        [disabled]="type === 'view'"
                        [checked]="storeForm.get('status')?.value === 'active'"
                        [uncheckedLabel]="'InActive' | translate"
                        [checkedLabel]="'Active' | translate"
                        size="small"
                        class="me-1"
                        formControlName="status"
                        (changeEvent)="onChangeEventEmit($event)">
                      </ui-switch>
                  </div>
                  </div>
                </div> 
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group ">
                           <label for="name" >{{'Store_Name' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                            <input type="text" id="name" class="form-control" formControlName="name" [readonly]="type==='view'" >
                            <div *ngIf="storeForm.get('name').touched && storeForm.get('name').invalid" class="invalid-feedback d-block">
                                <span *ngIf="storeForm.get('name').errors?.['required']">{{'Name is required'| translate}}.</span>
                              </div>
                          </div> 
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group ">
                           <label for="name_ar" >{{'Store_Name in arabic' | translate}} </label>
                            <input type="text" id="name_ar" class="form-control" formControlName="name_ar" [readonly]="type==='view'" >
                           
                          </div> 
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group ">
                           <label for="description" >{{'Description' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                           <textarea class="form-control" id="description" formControlName="description" rows="3"[readonly]="type === 'view'" ></textarea>
                           <div *ngIf="storeForm.get('description').touched && storeForm.get('description').invalid" class="invalid-feedback d-block">
                                <span *ngIf="storeForm.get('description').errors?.['required']">{{'Description is required'| translate}}.</span>
                              </div>
                          </div> 
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group ">
                           <label for="description_ar" >{{'Description in arabic' | translate}} </label>
                           <textarea class="form-control" id="description_ar" formControlName="description_ar" rows="3"[readonly]="type === 'view'" ></textarea>
                           
                          </div> 
                      </div>
                     
                <div *ngIf="currentRole === 'Admin'" class="col-md-6 mb-3">
                  <div class="form-group ">
                     <label for="company_id" >{{'Merchant_Name' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                     <ng-select [readonly]="type === 'view'"  id="company_id"  placeholder="{{'Select_the_merchant' | translate}}" [items]="merchantList" bindLabel="translatedName" 
                     bindValue="id"  formControlName="company_id" (change)="onChangeMerchantSelection($event)">
                        </ng-select>
                        <div *ngIf="storeForm.get('company_id').touched && storeForm.get('company_id').invalid" class="invalid-feedback d-block">
                          <span *ngIf="storeForm.get('company_id').errors?.['required']">{{'merchant_is_required'| translate}}.</span>
                      </div> 
                  </div>                       
                </div>
                
                <div class="col-md-6 mb-3">
                  <div class="form-group ">
                    <label for="city_id" >{{'City' | translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                    <ng-select [readonly]="type === 'view'" id="city_id" placeholder="{{'Select_the_City' | translate}}" [items]="filteredCities" bindLabel="translatedName" 
                    bindValue="id"  formControlName="city_id" >
                    </ng-select>  
                     <div *ngIf="storeForm.get('city_id').touched && storeForm.get('city_id').invalid" class="invalid-feedback d-block">
                        <span *ngIf="storeForm.get('city_id').errors?.['required']">{{'city_is_required'| translate}}.</span>
                    </div>   
                   </div>                     
                </div>
          
                  
                  <div  class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="phone" >{{'Phone Number' | translate}} <span *ngIf="type !== 'view'" class="text-danger">*</span></label><br>
                     <app-phone-number
                     [disabled]="type === 'view'"
                     *ngIf="storeForm"
                     [placeholder]="'Enter store phone' | translate"
                     [inputId]="'phone'"
                     [initialPhoneNumber]="storeForm.get('phone').value"
                     (phoneNumberChanged)="onPhoneNumberChanged($event)" >
                    </app-phone-number>
                    <div *ngIf="storeForm.get('phone').touched && storeForm.get('phone').invalid" class="invalid-feedback d-block">
                      <span *ngIf="storeForm.get('phone').errors?.['required']">{{'Phone Number is required'| translate}}.</span>
                    </div>   
                    </div>
                  </div>
                       
                  <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="images">{{ 'Store_Pictures' | translate }}</label>
                          <dropzone [disabled]="type === 'view'"class="dropzone" [config]="dropzoneConfig" [message]="'Drop Images here or click to upload.' | translate" (success)="onUploadSuccess($event)">
                          </dropzone>
                        </div>
                  </div>
                     <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="images"></label>
                          @if(uploadedFiles){
                          <ul class="list-unstyled mb-0" id="dropzone-preview" style="max-height: 245px; overflow-y: auto;">
                            @for (file of uploadedFiles; track $index) {
                            <li class="mt-2" id="dropzone-preview-list">
                              <!-- This is used as the file preview template -->
                              <div class="border rounded">
                                <div class="d-flex p-2">
                                  <div class="flex-shrink-0 me-3">
                                    <div class="avatar-sm bg-light rounded">
                                      @if(file.dataURL){
                                      <img class="img-fluid rounded d-block" [src]="file.dataURL" alt="Dropzone-Image" />
                                      }@else {
                                      <img class="img-fluid rounded d-block" [src]="file.url" alt="Dropzone-Image" />
                                      }
                                    </div>
                                  </div>
                                  <div class="flex-grow-1">
                                    <div class="pt-1">
                                      @if (file.name) {
                                      <h5 class="fs-md mb-1">{{ file.name }}</h5>
                                      }
                                      @if(file.size){
                                      <p class="fs-sm text-muted mb-0">{{ file.size }}</p>
                                      }
                                      <strong class="error text-danger" data-dz-errormessage></strong>
                                    </div>
                                  </div>
                                  <div class="flex-shrink-0 ms-3">
                                    <button [hidden]="type === 'view'" (click)="removeFile(file)" class="btn btn-sm btn-danger">{{'Delete'| translate}}</button>
                                  </div>
                                </div>
                              </div>
                            </li>
                            }
                          </ul>}
                        
                        </div>
                      </div>
                       
                                 
              </div>
                <div class="col-12  mt-4">
                    <div class="d-flex justify-content-end">
                      <ng-container *ngIf="type ==='view'; else editModeButtons">
                        <button type="button" class="btn btn-success" (click)="toggleViewMode()">{{ 'Go_Back' | translate }}</button>
                      </ng-container>
                      <ng-template #editModeButtons>
                        <button type="button" id="cancel-btn" class="btn btn-outline-secondary me-2" (click)="onCancel()">{{ 'Cancel' | translate }}</button>
                        <button type="submit" class="btn btn-success" (click)="onSubmit()">{{ (type === 'create' ? 'Add_store' : 'update_store') | translate }}</button>
                        <div id="elmLoader" class="loader" *ngIf="loading$ | async">
                          <div class="spinner-border text-primary avatar-sm" role="status">
                            <span class="visually-hidden">{{'Loading...' | translate}}</span>
                          </div>
                        </div>   
                      </ng-template>
                    </div>
                </div>
              </form>
           
            </div>
        </div>
    </div> <!-- end col -->
  </div>
  