
<div id="elmLoader" class="loader" *ngIf="loading$ | async">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">{{'Loading...' | translate}}</span>
  </div>
</div>  
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form #formElement [formGroup]="formOffer" >
                  <div *ngIf="formError" class="alert alert-danger">{{ formError | translate }}</div>
                  <div class="d-flex align-items-center justify-content-between mb-2">                 
                    <div *ngIf="formOffer.get('status')?.value === 'pending'; else switchToggle" class="ms-auto">
                      <span class="badge bg-warning text-dark" style="font-size: 1.2rem; padding: 0.5rem 1rem;">
                        <i class="bi bi-hourglass-split" style="margin-right: 0.4rem;"></i> Pending
                      </span>
                    </div>
                    
                    <ng-template #switchToggle>
                      <div class="form-check form-switch form-switch-md ms-auto">
                        <label class="form-check-label" for="SwitchCheckSizelg1">
                          {{ formOffer.get('status')?.value === 'active' ? 'Active' : 'InActive' }}
                        </label>
                        <input 
                          class="form-check-input" 
                          type="checkbox" 
                          id="SwitchCheckSizelg1" 
                          formControlName="status"  
                          [checked]="formOffer.get('status')?.value === 'active'" 
                          (change)="onToggle($event)">
                      </div>
                    </ng-template>
                        
                    
                 
                  </div>
                   
                  <div class="row">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name">{{'GiftCard Name'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                            <input class="form-control" id="name" formControlName="name" type="text" [readonly]="type==='view'"/>
                            <div *ngIf="formOffer.get('name').invalid && formOffer.get('name').touched" class="text-danger">
                                {{'Name is required'|translate}}
                            </div>
                        </div>
                        <div  class="col-md-6 mb-3">
                          <label for="company_id">{{'Merchant Name'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <ng-select [readonly]="type === 'view'|| currentRole === 'Merchant'" id="company_id"  placeholder="{{'Select_the_merchant' |translate}}" [items]="merchantList" bindLabel="translatedName" 
                          bindValue="id"  formControlName="company_id" (change)="onChangeMerchantSelection($event)" >
                          </ng-select>
                          <div *ngIf="formOffer.get('company_id').invalid && formOffer.get('company_id').touched">
                            {{'Merchant Name is required'|translate}}
                          </div>
                        </div>
                      </div>
                        <!-- <div class="col-md-6 mb-3">
                            <label for="name_ar">{{'Name_in_arabic'|translate}}</label>
                            <input class="form-control" id="name_ar" formControlName="name_ar" type="text" [readonly]="type==='view'"/>
                            
                        </div> -->
                        <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="termsAndConditions">{{'Terms and Conditions'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                            <textarea class="form-control" id="termsAndConditions" formControlName="termsAndConditions" rows="2"[readonly]="type==='view'"></textarea>
                            <div *ngIf="formOffer.get('termsAndConditions').invalid && formOffer.get('termsAndConditions').touched" class="text-danger">
                                {{'Terms and Conditions are required'|translate}}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="description">{{'Description'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <textarea class="form-control" id="description" formControlName="description" rows="2" [readonly]="type==='view'"></textarea>
                          <div *ngIf="formOffer.get('description').invalid && formOffer.get('description').touched" class="text-danger">
                              {{'Description is required'|translate}}
                          </div>
                      </div>
                      </div>
                        <!-- <div class="col-md-6 mb-3">
                            <label for="termsAndConditions_ar">{{'Terms and Conditions in arabic'|translate}}</label>
                            <textarea class="form-control" id="termsAndConditions_ar" formControlName="termsAndConditions_ar" rows="5" [readonly]="type==='view'"></textarea>
                            
                        </div> -->
  
                       
                       
                      <!-- <div class="col-md-6 mb-3">
                        <label for="description_ar">{{'Description in arabic'|translate}}</label>
                        <textarea class="form-control" id="description_ar" formControlName="description_ar" rows="5" [readonly]="type==='view'"></textarea>
                       
                     </div> -->
                      <div class="row">
                        
                        <div class="col-md-4 mb-3">
                          <label for="stores">{{'Stores'|translate}}</label>
                          <ng-select 
                          [readonly]="type === 'view'" 
                          id="stores" 
                          placeholder="{{'Select Stores' | translate}}"
                          [items]="storeList" 
                          bindLabel="translatedName" 
                          bindValue="id"  
                          formControlName="stores" 
                          [multiple] = "true"
                          >
                          </ng-select>
                          <!-- <div *ngIf="isLoading" class="text-info">Loading stores...</div> -->
                          
                        </div>
                          <div class="col-md-2 mb-3">
                            <label for="quantity">{{'Quantity'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                            <input class="form-control" id="quantity" formControlName="quantity" type="number" [readonly]="type==='view'"/>
                            <div *ngIf="formOffer.get('quantity').invalid && formOffer.get('quantity').touched" class="text-danger">
                              {{'Quantity is required'|translate}}
                            </div>
                          </div>
                          <div class="col-md-2 mb-3">
                            <label for="price">{{'Price'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                            <input class="form-control" id="price" formControlName="price" type="number" [readonly]="type==='view'"/>
                            <div *ngIf="formOffer.get('price').invalid && formOffer.get('price').touched" class="text-danger">
                              {{'Price is required'|translate}}
                            </div>
                          </div>
                          <div class="col-md-2 mb-3">
                          <label for="giftCardValue">{{'Value'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <input  class="form-control" id="giftCardValue" formControlName="giftCardValue" type="number" />
                          <div *ngIf="formOffer.get('giftCardValue').invalid && formOffer.get('giftCardValue').touched" class="text-danger">
                            {{'Gift Card Value  is required'|translate}}
                          </div> 
                        </div>
                      <div class="col-md-2 mb-3">
                          <label for="discount">{{'Discount'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <input class="form-control" id="discount" formControlName="discount" type="number" />
                          <div *ngIf="formOffer.get('discount').invalid && formOffer.get('discount').touched" class="text-danger">
                            {{'Discount is required'|translate}}
                          </div>
                      </div>
                
                      </div>
                      
                       <div class="row">
                        <div class="col-md-6 mb-3">
                          <label for="startDate">{{'Start Date'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <input bsDatepicker class="form-control" id="startDate" placeholder="yyyy-mm-dd" formControlName="startDate"    />
                          <div *ngIf="formOffer.get('startDate').invalid && formOffer.get('startDate').touched" class="text-danger">
                            {{'Start Date is required'|translate}}
                          </div>
                        </div>
                      
                        <div class="col-md-6 mb-3">
                          <label for="endDate">{{'End Date'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                          <input bsDatepicker class="form-control" id="endDate" placeholder="yyyy-mm-dd" formControlName="endDate"  />
                          <div *ngIf="formOffer.get('endDate').invalid && formOffer.get('endDate').touched">
                            {{'End Date is required'|translate}}
                          </div>
                          <div *ngIf="formOffer.errors?.invalidDate" class="text-danger">
                            {{'Both dates must be greater than or equal to the current date'|translate}}.
                          </div>
                          <div *ngIf="formOffer.errors?.dateMismatch" class="text-danger">
                            {{'Start Date must be before End Date'|translate}}.
                          </div>
                        </div>     
                        
                      </div>
                 <div class="row">
                   <div class="col-md-6 mb-3">
                    <label for="image">{{'Upload Gift Card Image'|translate}}<span *ngIf="type !== 'view'" class="text-danger">*</span></label>
                   <app-image-upload [id]="'image'" [type]="'logo'" [label]="'Upload GiftCard Image' | translate" [existantImage]="existantOfferLogo" [filename]="fileName" [alt]="'GiftCard Image'" [disabled]="type ==='view'" (logoUploaded)="uploadOfferLogo($event)"></app-image-upload>
                    <div *ngIf="formOffer.get('image').invalid && formOffer.get('image').touched" class="text-danger">
                      {{'Gift Card Image is required'|translate}}
                    </div> 
                  </div>              
                  </div> 
                  <div class="col-12  mt-4">
                    <div class="d-flex justify-content-end">
                      <ng-container *ngIf="type ==='view'; else editModeButtons">
                        <button type="button" class="btn btn-success" (click)="toggleViewMode()">{{ 'Go_Back' | translate }}</button>
                      </ng-container>
                      <ng-template #editModeButtons>
                        <button *ngIf="(formOffer.get('status')?.value !== 'pending' &&currentRole ==='Admin') ||(formOffer.get('status')?.value === 'pending' && currentRole !=='Admin') ||(formOffer.get('status')?.value !== 'pending' && currentRole !=='Admin')" type="submit" class="btn btn-success me-2" (click)="onSubmit()"  > {{ (type === 'create' ? 'Add gift card' : 'Update_gift_card') | translate }}
                        </button>
                      <div *ngIf="currentRole ==='Admin'">
                        <button *ngIf="formOffer.get('status')?.value === 'pending'" type="submit" class="btn btn-success me-2" (click)="onApprove()"  > {{ 'Approve' | translate }}
                        </button>
                        <button *ngIf="formOffer.get('status')?.value === 'pending'" type="submit" class="btn btn-danger me-2" (click)="onDecline()"  > {{ 'Decline' | translate }}
                        </button>
                      </div>
                        <button type="button" id="cancel-btn" class="btn btn-outline-secondary me-2" (click)="onCancel()">{{'Cancel'|translate}}</button>
                        <div id="elmLoader" class="loader" *ngIf="loading$ | async">
                          <div class="spinner-border text-primary avatar-sm" role="status">
                            <span class="visually-hidden">{{'Loading...' | translate}}</span>
                          </div>
                        </div>   
                      </ng-template>
                    </div>
                  </div>
                  </div>
                </form>
            </div>
        </div>
    </div> <!-- end col -->
  </div>
  
  